.pc-mainwrapper
    .pc-wrapper.pc-column
      h2 Trade-In
      table
        tr
          td(style='background-color: #e4e4e4;')
            b Trade-In Model
          td(style='background-color: #e4e4e4;')
            b Trade-In Value
          td(style='background-color: #e4e4e4;')
            b Trade-In Bonus
          td(style='color: #FFF; background-color: #2d4d9c;')
            b You Could Pay
        tr
          td Sony Alpha a7
          td &pound;320
          td &pound;50
          td(style='color: #2d4d9c;') &pound;4,129.00
        tr
          td Sony Alpha a7R
          td &pound;400
          td &pound;60
          td(style='color: #2d4d9c;') &pound;4,039.00
        tr
          td Sony Alpha a7S
          td &pound;400
          td &pound;60
          td(style='color: #2d4d9c;') &pound;4,039.00
          
        tr
          td Sony Alpha a7 Mark II
          td &pound;600
          td &pound;80
          td(style='color: #2d4d9c;') &pound;3,819.00
          
        tr
          td Sony Alpha a7R Mark II
          td &pound;1,300
          td &pound;100
          td(style='color: #2d4d9c;') &pound;3,099.00
          
        tr
          td Sony Alpha a7S Mark II
          td &pound;1,300
          td &pound;100
          td(style='color: #2d4d9c;') &pound;3,099.00

      p.pc-footerNote 
        | *Trade-in value dependent on condition of used camera, prices shown are maximum paid for each model.
        br
        | Trade-in only applicable when trading in the above models against the #{title} Body.