.pc-mainwrapper
    .pc-wrapper.pc-column
      h3 Trade-In
      table
        tr
          td(style='background-color: #e4e4e4;')
            b Trade-In Model
          td(style='background-color: #e4e4e4;')
            b Trade-In Value
          td(style='background-color: #e4e4e4;')
            b Trade-In Bonus
          td(style='color: #FFF; background-color: #2d4d9c;')
            b You Could Pay
        tr
          td Nikon D7000
          td &pound;150
          td &pound;25
          td(style='color: #2d4d9c;') &pound;1,124.00
        tr
          td Nikon D7100
          td &pound;220
          td &pound;50
          td(style='color: #2d4d9c;') &pound;1,029.00
        tr
          td Nikon D7200
          td &pound;300
          td &pound;75
          td(style='color: #2d4d9c;') &pound;924.00

      p.pc-footerNote 
        | *Trade-in value dependent on condition of used camera, prices shown are maximum paid for each model.
        br
        | Trade-in only applicable when trading in the above models against the #{title} Body.