// Banner Layout
.pc-mainWrapper {
  .pc-banner {
    background-color: $park-blue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 4rem;
    position: relative;
    h2,
    p {
      text-align: left;
    }
    h2,
    p,
    i,
    li {
      color: $white;
    }
    h2 {
      font-size: 2rem;
      letter-spacing: 1px;
      line-height: 1.25;
      margin: $margin-large;
    }
    @include media($media-phone) {
      h2 {
        font-size: 1.5rem;
        margin: $margin-medium;
      }
    }
    ul li,
    h2 {
      font-weight: $font-regular;
    }
    p,
    ul li {
      font-size: 1rem;
    }
    ul {
      margin: 0;
    }
    a {
      color: #ffffff;
      text-decoration: underline;
    }
    .pc-logo {
      max-width: 150px;
      min-width: 150px;
    }
    .pc-btn-inverse {
      color: $white;
      font-weight: $font-regular;
      background: rgba(255, 255, 255, 0.15);
    }
    .pc-charLength44 {
      max-width: 44ch;
      overflow: hidden;
    }
    .pc-charLength66 {
      max-width: 66ch;
      overflow: hidden;
    }
    a.pc-btn-standard,
    a.pc-btn-inverse {
      display: inline-flex;
      margin: 2rem 0 0;
      text-decoration: none;
    }
    img.pc-bannerImg {
      width: 6rem;
      position: absolute;
      left: 4rem;
    }
    @include media($media-tablet) {
      img.pc-bannerImg {
        display: block;
        position: static;
        margin: 1rem 0;
      }
    }
    @include media($media-phone) {
      img.pc-bannerImg {
        margin: 1rem auto;
      }
    }
  }
  @include media($media-tablet) {
    .pc-banner {
      padding: 1.5rem;
      ul li,
      p {
        font-size: 1rem;
      }
    }
  }
  .pc-banner-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: overlay;
  }
  .pc-quotationBanner {
    @extend .pc-banner;
    padding: 2rem;
    h2 {
      margin: $margin-medium;
    }
  }
  .pc-promoBanner {
    @extend .pc-banner;
    padding: 2rem;
    margin: $margin-medium;
  }
}
