.pc-banner {
    background-color: $park-blue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2.5rem;
    h3,
    p {
        text-align: left;
    }
    h3,
    h4,
    p,
    li {
        color: $white;
    }
    h3 {
        font-size: 2rem;
        font-weight: $font-bold;
        margin: $margin-medium;
    }
    ul li {
        font-weight: $font-regular;
    }
    p,
    ul li {
        font-size: 1rem;
    }
    ul {
        margin: 0;
    }
    .pc-btn-inverse {
        color: $white;
        font-weight: $font-regular;
        background: rgba(255,255,255,0.15);
    }
}

@include media($media-tablet) {
    .pc-banner {
        padding: 1.5rem;
        ul li,
        p {
            font-size: 1rem;
        }
    }
}

.pc-banner-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}