// Image and Gallery Layout
.pc-mainWrapper {
    img {
        width: 100%;
        margin: 0 auto;
    }
    .pc-pageBanner {
        width: 70%;
    }
    .pc-itemGallery {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 2rem 0 0;
        a.swipebox {
            margin: 1rem;
        }
    }
    @include media($media-tablet) {
        .pc-itemGallery {
            flex-flow: row wrap;
            a.swipebox {
                margin: 0.5rem;
                img {
                    max-width: 5rem;
                }
            }
        }
    }
  @include media($media-phone) {
    .pc-itemGallery {
      a.swipebox {
        margin: 0;
        img {
          display: none;
        }
      }
    }
  }
    .pc-social {
        justify-content: center;
        align-items: center;
        h4 {
            margin: 0.5rem;
            font-weight: $font-regular;
        }
        a {
            img {
                width: auto;
                height: 2rem;
                margin: 0.5rem;
            }
        }
    }
}
