// Main Wrapper
.pc-mainWrapper {
  width: 100%;
  max-width: $wrapper-size;
  margin: 0 auto;
  padding: 0;
  font-family: $font-stack;
  font-size: $base-size;
  font-weight: $font-light;
  color: $black;
  line-height: 1.5;
  text-align: center;
  .pc-wrapper {
    display: flex;
  }
  .pc-row {
    flex-flow: row wrap;
    justify-content: center;
  }
  .pc-rowNoWrap {
    flex-flow: row nowrap;
    justify-content: center;
  }
  @include media($media-tablet) {
    .pc-rowNoWrap {
      flex-flow: row wrap;
    }
  }
  .pc-column {
    flex-flow: column wrap;
  }
  @for $col from 1 through 8 {
    .pc-col#{$col} {
      margin: 1rem;
      flex: 1;
      flex-basis: ((($wrapper-size / $base-size) / $col) - $col)+rem;
    }
  }
  // Order
  @include media($media-tablet) {
    @for $order from 1 through 24 {
      .pc-order-#{$order} {
        order: $order;
      }
    }
  }
  // Horizontal Rule
  hr {
    opacity: 0.15;
    margin: 0;
  }
  @include media($media-phone) {
    hr {
      margin: 1rem 0;
    }
  }
  // Plugin
  .pc-pluginLayout {
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    img {
      max-width: 12rem;
    }
    article {
      border-bottom: 0;
      padding: 0;
    }
    .pc-pluginLayoutNoInfo {
      flex-flow: row wrap;
      justify-content: flex-start;
      article {
        padding: 0;
        border-bottom: 0;
      }
    }
    .promoIcon {
      display: none;
    }
    .prodName {
      margin-top: 12px;
    }
    .testfreaks-items {
      display: none;
    }
  }
  @include media($media-phone) {
    .pc-pluginLayout {
      img {
        max-width: 10rem;
      }
      .prodName {
        line-height: 1.5rem;
      }
      .prodOffer {
        padding: 0;
        margin: 0;
      }
      .priceTxt {
        font-size: 1.25rem;
        margin: 4.5rem;
      }
      .strike {
        display: none;
      }
    }
  }
  .pc-pluginLayoutHidePrice {
    .prodOffer {
      display: none;
    }
  }
  .pc-spacer-s {
    margin: $margin-small;
  }
  .pc-spacer-m {
    margin: $margin-medium;
  }
  .pc-spacer-l {
    margin: $margin-large;
  }
  .pc-spacer-xl {
    margin: $margin-xlarge;
  }
  .pc-spacer-xxl {
    margin: $margin-xxlarge;
  }
  @for $col from 1 through 4 {
    .pc-colNoWrap#{$col} {
      flex: 0;
      flex-basis: ((($wrapper-size / $base-size) / $col) - $col)+rem;
      margin: 1rem;
    }
  }
  @include media($media-phone) {
    @for $col from 1 through 4 {
      .pc-colNoWrap#{$col} {
        margin: 1rem 0;
      }
    }
  }
}
