.pc-mainWrapper {
    .scrollToTop {
        width: 50px;
        height: 50px;
        text-align: center;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        display: none;
        background: url('https://content.parkcameras.com/5/1/images/landing_pages/BackToTop.png') no-repeat 0 0;
    }
}