.pc-search {
    form {
        position: relative;
        margin: auto;
        width: 500px;
        input,
        button {
            font-size: 1.5rem;
        }
        input {
            position: relative;
            width: 100%;
            font-family: inherit;
            color: $park-darkGrey;
            transition: all 0.5s ease-in;
            box-sizing: border-box;
            border: 1px solid $park-lightGrey;
            outline: none;
            background-color: $park-lightGrey;
            padding: 2rem;
            &:focus {
                background-color: $white;
            }
        }
        button {
            position: absolute;
            top: 1.25rem;
            right: 1.75rem;
            background: none;
            speak: none;
            border: none;
            box-shadow: none;
            cursor: pointer;
            font-family: 'ultimateHB';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            color: $park-blue;
            height: 1.5rem;
            &:before {
                content: "\e04c";
            }
        }
    }
}

@include media($media-phone) {
    .pc-search {
        form {
            width: 100%;
        }
    }
}