// SOP
.pc-mainWrapper {
    @for $col from 1 through 4 {
        .pc-colSop#{$col} {
            flex: 0;
            flex-basis: ((($wrapper-size / $base-size) / $col) - $col)+rem;
            margin: 1rem;
            img:hover {
                opacity: 0.75;
            }
            p {
                margin-bottom: 1.5rem;
            }
        }
    }
    .pc-btn-sop {
        @extend .pc-btn-standard;
        display: none;
    }
    @include media($media-tablet) {
        @for $col from 1 through 4 {
            .pc-colSop#{$col} {
                margin: 4rem 0.5rem;
                img:hover {
                    opacity: 1;
                }
            }
            .pc-btn-sop {
                display: inline;
            }
        }
    }
    .pc-sopCalendar {
        position: fixed;
        top: 6.5rem;
        right: -1.5rem;
        iframe {
            width: 250px;
            height: 700px;
            border: 0;
        }
    }
    @media screen and (max-width: 1700px) {
        .pc-sopCalendar {
            position: relative;
            top: 1rem;
        }
    }
}