doctype html
html(lang="en")
    include includes/head.pug
    body

        // START
        .pc-mainWrapper
            .pc-spacer-xl
            .pc-wrapper.pc-column.pc-col1

              h1.pc-largeText Oops!
              h2.pc-spacer-xl We Tried. We Really Tried. We Looked Everywhere.
              img(src='http://content.parkcameras.com/5/1/images/landing_pages/Polaroid-404.png', alt='404', style='max-width: 19.5rem')
              
              hr
              
              h3 Unfortunately, we just couldn't find the page you were looking for.
              h3.pc-spacer-l If you're still lost, try searching for something below:

              .pc-search
                form(action='//www.parkcameras.com/search/go', method='GET')
                  input(autocomplete='off', name='w', placeholder='Search Park Cameras', type='text', value='')
                  button(onclick='searchSubmit();')
                  
              hr
              
              h3.pc-spacer-xl Or try some of these helpful links instead:
              
              ul.pc-ul4
                li
                  a(href='https://www.parkcameras.com/', title='Home') Home
                li
                  a(href='https://www.parkcameras.com/c/2528/digital-cameras', title='Cameras') Cameras
                li
                  a(href='https://www.parkcameras.com/c/24/lenses', title='Lenses') Lenses
                li
                  a(href='https://www.parkcameras.com/c/37/tripods', title='Tripods') Tripods
                li
                  a(href='https://www.parkcameras.com/c/36/camera-bags-and-cases', title='Bags') Bags
                li
                  a(href='https://www.parkcameras.com/c/61/camcorders', title='Video') Video
                li
                  a(href='https://www.parkcameras.com/photography-courses', title='Training') Training
                li
                  a(href='https://www.parkcameras.com/c/2503/used', title='Used') Used
       

            include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
