extends template.pug

block vars
  - var title = 'About Park Cameras';

block content
  .pc-wrapper.pc-column.pc-col1
    img.pc-spacer-m(src='https://placehold.it/1140x400')
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis. Donec a nibh sed ipsum fermentum vehicula vel ac lectus. Nulla congue feugiat tellus, ut imperdiet enim elementum a. Sed sed odio eu nibh gravida ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam varius pulvinar quam vitae porta. Aenean nisl quam, dictum id sem in, sodales tristique tortor.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis. Donec a nibh sed ipsum fermentum vehicula vel ac lectus. Nulla congue feugiat tellus, ut imperdiet enim elementum a. Sed sed odio eu nibh gravida ultrices.
  
  hr
  
  .pc-wrapper.pc-row
    .pc-column.pc-col4
      h3.
        #[a(href='#history', title='') History of Park Cameras]
    .pc-column.pc-col4
      h3.
        #[a(href='#') Awards &amp; Recognition]
    .pc-column.pc-col4
      h3.
        #[a(href='#') Specialist Pro Dealer]
    .pc-column.pc-col4
      h3.
        #[a(href='#') School of Photography]

      
  hr
  
  .pc-wrapper.pc-column.pc-col1
      
    h2#history History of Park Cameras
    
  .pc-wrapper.pc-rowNoWrap
    .pc-column.pc-col2.pc-order-1
      h4 Now
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis. Donec a nibh sed ipsum fermentum vehicula vel ac lectus. Nulla congue feugiat tellus, ut imperdiet enim elementum a. Sed sed odio eu nibh gravida ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam varius pulvinar quam vitae porta. Aenean nisl quam, dictum id sem in, sodales tristique tortor.
    .pc-column.pc-col2.pc-order-2
      img(src='https://placehold.it/400x400', alt='')
      
  .pc-wrapper.pc-rowNoWrap
    .pc-column.pc-col2.pc-order-4
      img(src='https://placehold.it/400x400', alt='')
    .pc-column.pc-col2.pc-order-3
      h4 Past
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis. Donec a nibh sed ipsum fermentum vehicula vel ac lectus. Nulla congue feugiat tellus, ut imperdiet enim elementum a. Sed sed odio eu nibh gravida ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam varius pulvinar quam vitae porta. Aenean nisl quam, dictum id sem in, sodales tristique tortor.
      
  .pc-wrapper.pc-rowNoWrap
    .pc-column.pc-col2.pc-order-5
      h4 PastER?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis. Donec a nibh sed ipsum fermentum vehicula vel ac lectus. Nulla congue feugiat tellus, ut imperdiet enim elementum a. Sed sed odio eu nibh gravida ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam varius pulvinar quam vitae porta. Aenean nisl quam, dictum id sem in, sodales tristique tortor.
    .pc-column.pc-col2.pc-order-6
      img(src='https://placehold.it/400x400', alt='')
      
block bottomScripts
    script(src='js/swipebox.js')
    