- var title = 'Canon L-Series Lenses'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          
          hr
          
          .pc-wrapper.pc-column
            .pc-banner.pc-spacer-xl
              h2 24 Months 0% Finance
              p.pc-spacer-xl Spread the cost of Canon L-Series lenses with Interest-Free credit - 
               b pay from just &pound;24.71 a month for 24 months*!
              p
                small *Minimum 10% deposit, 0% APR.

          .pc-wrapper.pc-column.pc-col1
            h2 What are Canon L-Series Lenses?
            p Camera bodies come and go, megapixels go up year-on-year, features get new and improved, and occasionally we'll see something groundbreaking. Camera lenses, on the other hand, can last a lifetime if properly cared for.
            p 2017 marks 30 years since Canon introduced their EOS camera system, and 30 years since their released their first EF camera lens. Since then, they've gone on to produce some of the worlds best camera lenses.
            p However, there's one range that stands out among the rest. Canon's L-Series lenses are their premium lens range, designed for and used by professionals the world over.
            p L-series (or 'Luxury Series') is a designation given by Canon to their best lenses, which are easily recognisable by their distinctive red ring and off-white paint job on telephoto lenses.
            p Canon L-Series lenses are noted for their superior optical quality, their durability, weather sealing on some models, and generally out-performing their lower-end counterparts. They are typically 'fast', with wider maximum apertures and lower minimum f/stops, and many contain fluorite or ultra-low dispersion lens elements.
            
          hr
          
          .pc-wrapper.pc-column.pc-col1
            h2.pc-spacer-xl Canon L-Series Categories
            ul.pc-ul3
              li
                a(href='#1') Standard Zoom Lenses
              li
                a(href='#2') Ultra-Wide Angle Zoom Lenses
              li
                a(href='#3') Wide Angle Prime Lenses
              li
                a(href='#4') Standard Prime Lenses
              li
                a(href='#5') Telephoto Zoom Lenses
              li
                a(href='#6') Telephoto Prime Lenses
              li
                a(href='#7') Super Telephoto Lenses
              li
                a(href='#8') Macro Lenses
              li
                a(href='#9') Tilt-Shift Lenses
                
                
          hr#1

          .pc-wrapper.pc-column.pc-col1
            h2 Standard Zoom Lenses
            
          .pc-wrapper.pc-rowNoWrap
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240435C/canon-lenses-ef-mount/canon/ef-24-70mm-f4l-is-usm-lens', target='_blank', title='Canon EF 24-70mm f/4L IS USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63773-Canon-EF-24-70mm-f4L-IS-USM-Lens.jpg', alt='Canon EF 24-70mm f/4L IS USM')
                h3 Canon EF 24-70mm f/4L IS USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240432K/canon-lenses-ef-mount/canon/ef-24-70mm-f28l-ii-usm-lens', target='_blank', title='Canon EF 24-70mm f/2.8L II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63774-Canon-EF-24-70mm-f28L-II-USM-Lens.jpg', alt='Canon EF 24-70mm f/2.8L II USM')
                h3 Canon EF 24-70mm f/2.8L II USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240439N/canon-lenses-ef-mount/canon/ef-24-105mm-f4l-is-ii-usm-lens', target='_blank', title='Canon EF 24-105mm f/4L IS II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63772-Canon-EF-24-105mm-f4L-IS-II-USM-Lens.jpg', alt='Canon EF 24-105mm f/4L IS II USM')
                h3 Canon EF 24-105mm f/4L IS II USM
                  
                  
          hr#2
          
          .pc-wrapper.pc-column.pc-col1
            h2 Ultra-Wide Angle Zoom Lenses
          
          .pc-wrapper.pc-row
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240407E/canon-lenses-ef-mount/canon/ef-8-15mm-f4l-fisheye-usm', target='_blank', title='Canon EF 8-15mm f/4L Fisheye USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63781-Canon-EF-8-15mm-f4L-Fisheye-USM-Lens.jpg', alt='Canon EF 8-15mm f/4L Fisheye USM')
                h3 Canon EF 8-15mm f/4L Fisheye USM
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240410C/canon-lenses-ef-mount/canon/ef-11-24mm-f4l-usm-lens', target='_blank', title='Canon EF 11-24mm f/4L USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63780-Canon-EF-11-24mm-f4L-USM-Lens.jpg', alt='Canon EF 11-24mm f/4L USM')
                h3 Canon EF 11-24mm f/4L USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240416C/canon-lenses-ef-mount/canon/ef-16-35mm-f4l-is-usm-lens', target='_blank', title='Canon EF 16-35mm f/4L IS USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63778-Canon-EF-16-35mm-f4L-IS-USM-Lens.jpg', alt='Canon EF 16-35mm f/4L IS USM')
                h3 Canon EF 16-35mm f/4L IS USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240415T/canon-lenses-ef-mount/canon/ef-16-35mm-f28l-ii-usm-lens', target='_blank', title='Canon EF 16-35mm f/2.8L II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63779-Canon-EF-16-35mm-f28L-II-USM-Lens.jpg', alt='Canon EF 16-35mm f/2.8L II USM')
                h3 Canon EF 16-35mm f/2.8L II USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240415V/canon-lenses-ef-mount/canon/ef-16-35mm-f28l-iii-usm-lens', target='_blank', title='Canon EF 16-35mm f/2.8L III USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_46775-01-Canon-EF-16-35mm-f2.8L-III-USM-Front-Angle.jpg', alt='Canon EF 16-35mm f/2.8L III USM')
                h3 Canon EF 16-35mm f/2.8L III USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240417/canon-lenses-ef-mount/canon/ef-17-40mm-f4l-usm-lens', target='_blank', title='Canon EF 17-40mm f/4L USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63777-Canon-EF-17-40mm-f4L-USM-Lens.jpg', alt='Canon EF 17-40mm f/4L USM')
                h3 Canon EF 17-40mm f/4L USM
                
                
          hr#3
          
          .pc-wrapper.pc-column.pc-col1
            h2 Wide Angle Prime Lenses
          
          .pc-wrapper.pc-row
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240057M/canon-lenses-ef-mount/canon/ef-14mm-f28l-ii-usm-wide-angle-lens', target='_blank', title='Canon EF 14mm f/2.8L II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63805-Canon-EF-14mm-f28L-IIUSM-Wide-Angle-Lens.jpg', alt='Canon EF 14mm f/2.8L II USM')
                h3 Canon EF 14mm f/2.8L II USM
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240085/canon-lenses-ef-mount/canon/ef-24mm-f14l-ii-usm', target='_blank', title='Canon EF 24mm f/1.4L II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63804-Canon-EF-24mm-f14L-II-USM-lens.jpg', alt='Canon EF 24mm f/1.4L II USM')
                h3 Canon EF 24mm f/1.4L II USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240129/canon-lenses-ef-mount/canon/ef-35mm-f14l-ii-usm-lens', target='_blank', title='Canon EF 35mm f/1.4L II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63806-Canon-EF-35mm-f14L-II-USM-Lens.jpg', alt='Canon EF 35mm f/1.4L II USM')
                h3 Canon EF 35mm f/1.4L II USM
                
                
          hr#4
          
          .pc-wrapper.pc-column.pc-col1
            h2 Standard Prime Lenses
          
          .pc-wrapper.pc-row
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240156L/canon-lenses-ef-mount/canon/ef-50mm-f12l-usm-lens', target='_blank', title='Canon EF 50mm f/1.2L USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63813-Canon-EF-50mm-f12L-USM-Lens.jpg', alt='Canon EF 50mm f/1.2L USM')
                h3 Canon EF 50mm f/1.2L USM
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240207/canon-lenses-ef-mount/canon/ef-85mm-f12l-ii-usm-lens', target='_blank', title='Canon EF 85mm f/1.2L II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_ef_85_usm.jpg', alt='Canon EF 85mm f/1.2L II USM')
                h3 Canon EF 85mm f/1.2L II USM


          hr#5
          
          .pc-wrapper.pc-column.pc-col1
            h2 Telephoto Zoom Lenses
          
          .pc-wrapper.pc-row
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240517/canon-lenses-ef-mount/canon/ef-28-300mm-f35-56l-is-usm-lens', target='_blank', title='Canon EF 28-300mm f/3.5-5.6L IS USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63765-Canon-EF-28-300mm-f35-56L-IS-USM-Lens.jpg', alt='Canon EF 28-300mm f/3.5-5.6L IS USM')
                h3 Canon EF 28-300mm f/3.5-5.6L IS USM
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240546/canon-lenses-ef-mount/canon/ef-70-200mm-f4l-usm-lens', target='_blank', title='Canon EF 70-200mm f/4L USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63764-Canon-EF-70-200mm-f4L-USM-Lens.jpg', alt='Canon EF 70-200mm f/4L USM')
                h3 Canon EF 70-200mm f/4L USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240540L/canon-lenses-ef-mount/canon/ef-70-200mm-f4l-is-usm-lens', target='_blank', title='Canon EF 70-200mm f/4L IS USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63770-Canon-EF-70-200mm-f4L-IS-USM-Lens.jpg', alt='Canon EF 70-200mm f/4L IS USM')
                h3 Canon EF 70-200mm f/4L IS USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240537E/canon-lenses-ef-mount/canon/ef-70-200mm-f28l-usm', target='_blank', title='Canon EF 70-200mm f/2.8L USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63902-Canon-EF-70-200mm-f28L-USM.jpg', alt='Canon EF 70-200mm f/2.8L USM')
                h3 Canon EF 70-200mm f/2.8L USM
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240534R/canon-lenses-ef-mount/canon/ef-70-200mm-f28l-is-ii-usm-lens', target='_blank', title='Canon EF 70-200mm f/2.8L IS II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63771-Canon-EF-70-200mm-f28L-IS-II-USM-Lens.jpg', alt='Canon EF 70-200mm f/2.8L IS II USM')
                h3 Canon EF 70-200mm f/2.8L IS II USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240549C/canon-lenses-ef-mount/canon/ef-70-300mm-f4-56l-is-usm-lens', target='_blank', title='Canon EF 70-300mm f/4-5.6L IS USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63768-Canon-EF-70-300mm-f4-56L-IS-USM-Lens.jpg', alt='Canon EF 70-300mm f/4-5.6L IS USM')
                h3 Canon EF 70-300mm f/4-5.6L IS USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240614E/canon-lenses-ef-mount/canon/ef-100-400mm-f45-56l-is-ii-usm-lens', target='_blank', title='Canon EF 100-400mm f/4.5-5.6L IS II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63769-Canon-EF-100-400mm-f45-56L-IS-II-USM-Lens.jpg', alt='Canon EF 100-400mm f/4.5-5.6L IS II USM')
                h3 Canon EF 100-400mm f/4.5-5.6L IS II USM
                
                
          hr#6
          
          .pc-wrapper.pc-column.pc-col1
            h2 Telephoto Prime Lenses
          
          .pc-wrapper.pc-row
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240249/canon-lenses-ef-mount/canon/ef-135mm-f2l-usm-lens', target='_blank', title='Canon EF 135mm f/2L USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63891-Canon-EF-135mm-f2L-USM-Lens.jpg', alt='Canon EF 135mm f/2L USM')
                h3 Canon EF 135mm f/2L USM
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240293/canon-lenses-ef-mount/canon/ef-200mm-f28l-ii-usm-lens', target='_blank', title='Canon EF 200mm f/2.8L II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63797-Canon-EF-200mm-f28L-II-USM-Lens.jpg', alt='Canon EF 200mm f/2.8L II USM')
                h3 Canon EF 200mm f/2.8L II USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240289E/canon-lenses-ef-mount/canon/ef-200mm-f20l-is-usm-lens', target='_blank', title='Canon EF 200mm f/2.0L IS USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_canon_ef_200mm_f2_is.jpg', alt='Canon EF 200mm f/2.0L IS USM')
                h3 Canon EF 200mm f/2.0L IS USM
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240315/canon-lenses-ef-mount/canon/ef-300mm-f40l-usm-is', target='_blank', title='Canon EF 300mm f/4L IS USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63785-Canon-EF-300mm-f4L-IS-USM-Lens.jpg', alt='Canon EF 300mm f/4L IS USM')
                h3 Canon EF 300mm f/4L IS USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240305M/canon-lenses-ef-mount/canon/ef-300mm-f28l-usm-is-ii-lens', target='_blank', title='Canon EF 300mm f/2.8L IS II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_ef-300mm-f2.jpg', alt='Canon EF 300mm f/2.8L IS II USM')
                h3 Canon EF 300mm f/2.8L IS II USM
                
                
          hr#7
          
          .pc-wrapper.pc-column.pc-col1
            h2 Super Telephoto Lenses
          
          .pc-wrapper.pc-row
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240623D/canon-lenses-ef-mount/canon/ef-200-400mm-f4l-is-usm-extender-14x-lens', target='_blank', title='Canon EF 200-400mm f/4L IS USM Extender 1.4x')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63767-Canon-EF-200-400mm-f4L-IS-USM-1-4x-extender.jpg', alt='Canon EF 200-400mm f/4L IS USM Extender 1.4x')
                h3 Canon EF 200-400mm f/4L IS USM Extender 1.4x
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240327N/canon-lenses-ef-mount/canon/ef-400mm-f28l-usm-is-ii', target='_blank', title='Canon EF 400mm f/2.8L IS II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_ef-400mm-f2.jpg', alt='Canon EF 400mm f/2.8L IS II USM')
                h3 Canon EF 400mm f/2.8L IS II USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240348/canon-lenses-ef-mount/canon/ef-400mm-f56l-usm-lens', target='_blank', title='Canon EF 400mm f/5.6L USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63766-Canon-EF-400mm-f56L-USM-Lens.jpg', alt='Canon EF 400mm f/5.6L USM')
                h3 Canon EF 400mm f/5.6L USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240361G/canon-lenses-ef-mount/canon/ef-500mm-f4l-is-ii-usm', target='_blank', title='Canon EF 500mm f/4L IS II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_ef-500mm-f4l-is-ii-usm-fsl-w-cap.jpg', alt='Canon EF 500mm f/4L IS II USM')
                h3 Canon EF 500mm f/4L IS II USM
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240363D/canon-lenses-ef-mount/canon/ef-600mm-f4l-is-ii-usm-lens', target='_blank', title='Canon EF 600mm f/4L IS II USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_ef-600mm-f4-l-is-ii-usm-fsl.jpg', alt='Canon EF 600mm f/4L IS II USM')
                h3 Canon EF 600mm f/4L IS II USM
                
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240375K/canon-lenses-ef-mount/canon/ef-800mm-f56l-is-usm-lens', target='_blank', title='Canon EF 800mm f/5.6L IS USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63784-Canon-EF-800mm-f56L-IS-USM-Lens.jpg', alt='Canon EF 800mm f/5.6L IS USM')
                h3 Canon EF 800mm f/5.6L IS USM
                
                
          hr#8
          
          .pc-wrapper.pc-column.pc-col1
            h2 Macro Lenses
          
          .pc-wrapper.pc-row
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240239L/canon-lenses-ef-mount/canon/ef-100mm-f28l-macro-is-usm-lens', target='_blank', title='Canon EF 100mm f/2.8L Macro IS USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_ef-100mm-f2.jpg', alt='Canon EF 100mm f/2.8L Macro IS USM')
                h3 Canon EF 100mm f/2.8L Macro IS USM
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240271/canon-lenses-ef-mount/canon/ef-180mm-f35l-usm-macro-lens', target='_blank', title='Canon EF 180mm f/3.5L Macro USM')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_ef_180mm_f3.5.jpg', alt='Canon EF 180mm f/3.5L Macro USM')
                h3 Canon EF 180mm f/3.5L Macro USM
                
                
          hr#9
          
          .pc-wrapper.pc-column.pc-col1
            h2 Canon Ultra-Wide Angle Zoom Lenses
          
          .pc-wrapper.pc-row
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240377C/canon-lenses-ef-mount/canon/ts-e-17mm-f4l-lens', target='_blank', title='Canon TS-E 17mm f/4L')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63783-Canon-EF-TS-E-17mm-f4L-Tilt-Shift-Lens.jpg', alt='Canon TS-E 17mm f/4L')
                h3 Canon TS-E 17mm f/4L
            
            .pc-column.pc-colSop3
              a(href='https://www.parkcameras.com/p/1240382A/canon-lenses-ef-mount/canon/ts-e-24mm-f35l-ii-lens', target='_blank', title='Canon TS-E 24mm f/3.5L II')
                img(src='https://content.parkcameras.com/5/1/images/catalog/i/m_63782-Canon-EF-TS-E-24mm-f35L-II-Tilt-Shift-Lens.jpg', alt='Canon TS-E 24mm f/3.5L II')
                h3 Canon TS-E 24mm f/3.5L II
   

          include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
