- var title = 'How to Contact Park Cameras'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
            .pc-wrapper.pc-column.pc-col1
                h1 #{title}
            hr
            
            .pc-wrapper.pc-row.pc-storeLocator
            
              .pc-column.pc-col4.pc-spacer-xl.pc-storeLocator-marginFix
              
                h2 Get In Touch
              
                h3 Call Us
                p Call our UK Customer Service Team on:
                p.pc-contactLinks
                    a.pc-btn-switch(href='tel:+44444237070', itemprop='telephone')
                      span.pc-telephoneIcon
                      | 01444 23 70 70
                p.pc-footerNote#phone-times Available Monday to Saturday 9-5.30pm (Closed Sunday)
                      
                h3 Email Us
                p Write to us for help and support at:
                p.pc-contactLinks
                    a.pc-btn-switch(href='mailto:sales@parkcameras.com', target='_blank') sales@parkcameras.com 
                p.pc-footerNote#email-times Current response time: 24 hours
              
                h3 Tweet Us
                p Direct Message us on Twitter at:
                p.pc-contactLinks
                    a.pc-btn-switch(href='https://twitter.com/messages/compose?recipient_id=35701499', target='_blank') @ParkTweets 
                p.pc-footerNote#tweet-times Typical response time: 4 hours
            
                h3 Facebook Messenger
                p Message us on Facebook at:
                p.pc-contactLinks
                    a.pc-btn-switch(href='https://m.me/parkcameras', target='_blank') @ParkCameras
                p.pc-footerNote#facebook-times Typical response time: 4 hours
              
                h3 Live Chat
                p Chat with our Customer Service Team now:
                p.pc-contactLinks
                    a.pc-btn-switch(href='') LiveChat
                p.pc-footerNote#chat-times Current response time: 10 minutes
              
              .pc-column.pc-col2.pc-spacer-xl
              
                h2 Store Locator
            
                .pc-wrapper.pc-row.pc-storeLocator-lineHeightFix
                
                  .pc-column.pc-col3.pc-spacer-xl
                
                    h3
                      a(href='https://www.parkcameras.com/park-cameras-burgess-hill-store', title='Park Cameras Burgess Hill') Burgess Hill
                        span(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')

                    iframe(frameborder='0', height='auto', src='https://www.google.com/maps/embed?pb=%211m14%211m8%211m3%211d2513.344258022704%212d-0.1559005%213d50.95433905%213m2%211i1024%212i768%214f13.1%213m3%211m2%211s0x48758dbeae99ba11%3A0xe18db3c1e0dfadb9%212spark+cameras+burgess+hill%215e0%213m2%211sen%212suk%214v1389700462975', width='auto')

                    h3
                      small Address

                    p
                        span(itemprop='streetAddress') York Road
                    p
                        span(itemprop='addressLocality') Burgess Hill
                    p
                        span(itemprop='addressRegion') West Sussex
                    p.pc-spacer-xl
                        span(itemprop='postalCode') RH15 9TT

                    h3
                      small Opening Times
                    p#monday-bh Monday: 9 - 5.30pm
                    p#tuesday-bh Tuesday: 9 - 5.30pm
                    p#wedneday-bh Wednesday: 9 - 5.30pm
                    p#thursday-bh Thursday: 9 - 7.30pm
                    p#friday-bh Friday: 9 - 5.30pm
                    p#saturday-bh Saturday: 9 - 5.30pm
                    p#sunday-bh Sunday: 10 - 4pm
                    
                    
               
                  .pc-column.pc-col3.pc-spacer-xl.pc-storeLocator-lineHeightFix

                    h3 
                        a(href='https://www.parkcameras.com/park-cameras-london-store', title='Park Cameras London') London
                    
                    iframe(frameborder='0', height='auto', src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4965.626397745077!2d-0.133401!3d51.516643!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b2cec88a6bb%3A0xefb2f3c4da6f2115!2s53-54+Rathbone+Pl%2C+Fitzrovia%2C+London+W1T+1JR%2C+UK!5e0!3m2!1sen!2suk!4v1496850265917', width='auto')
                    
                    h3
                      small Address
                        
                    p 53-54 Rathbone Place
                    p London
                    p Fitzrovia
                    p.pc-spacer-xl W1T 1JR

                    h3 
                      small Opening Times
                    p#monday-ldn Monday: 10 - 6.30pm
                    p#tuesday-ldn Tuesday: 10 - 6.30pm
                    p#wednesday-ldn Wednesday: 10 - 6.30pm
                    p#thursday-ldn Thursday: 10 - 7.30pm
                    p#friday-ldn Friday: 10 - 7.30pm
                    p#saturday-ldn Saturday:  10 - 6.30pm
                    p#saturday-ldn Sunday: 10.30 - 4.30pm
                    

            include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
