extends template.pug

block vars
  - var title = 'London Store';

block content
  .pc-wrapper.pc-column.pc-col1
    img(src='https://content.parkcameras.com/5/1/images/park-cameras-london-camera-store.jpg', alt='Park Cameras London, Outside and Instore')
    
  hr
  
  .pc-wrapper.pc-column.pc-col1
    h2 How to Find Us
    
  .pc-wrapper.pc-row.pc-storeLocator
    .pc-column.pc-col2
                    
      h3 Address

      p 53-54 Rathbone Place
      p London
      p Fitzrovia
      p.pc-spacer-xl W1T 1JR

      h3 Opening Times
      p#monday-ldn Monday: 10 - 6.30pm
      p#tuesday-ldn Tuesday: 10 - 6.30pm
      p#wednesday-ldn Wednesday: 10 - 6.30pm
      p#thursday-ldn Thursday: 10 - 7.30pm
      p#friday-ldn Friday: 10 - 7.30pm
      p#saturday-ldn Saturday:  10 - 6.30pm
      p#saturday-ldn Sunday: 10.30 - 4.30pm
                    
    .pc-column.pc-col2

      iframe(frameborder='0', height='100%', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.813183629583!2d-0.13558968422969203!3d51.516643279636604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b2cec88a6bb%3A0xefb2f3c4da6f2115!2s53-54+Rathbone+Pl%2C+Fitzrovia%2C+London+W1T+1JR%2C+UK!5e0!3m2!1sen!2sus!4v1505746029547', width='100%')
      
  hr
      
  .pc-wrapper.pc-column.pc-col1
    h2 About the Park Cameras London Store
    p Right in the heart of London, just off Oxford Street, and only a few minutes walk from Oxford Circus and Tottenham Court Road tube stations, you’ll find a photo &amp; video oasis – the Park Cameras London Store.
    p Set over two floors, this huge photographic &amp; video showroom has an enormous range of products on display, from compact cameras, to professional DSLRs, to broadcast video cameras, and photographic lighting &amp; accessories.
    p To help you find what you’re looking for are the friendly, highly trained, extremely knowledgeable expert team of Park Cameras staff who will ensure you always find the right product for your needs.
    p On entering the store at ground level you’re greeted by a fantastic range of cameras and lenses from leading brands including Canon, Nikon, Fujifilm, Hasselblad, Leica, Olympus, Panasonic, Pentax, and Sony, all of which are on display for you to get your hands on, touch, and try.
    p Heading down the stairs to the lower ground floor, you’ll find yourself surrounded by an extensive range of photographic accessories and equipment, including tripods, camera bags, and lighting equipment from all the top brands such as Manfrotto, Gitzo, Lastolite, 3 Legged Thing, Joby, Lowepro, Think Tank, Vanguard, Peak Design and more.
    p Rounding the corner from the accessories, you’ll see our Photo Processing Lab where we develop 35mm film in-store, print digital photographs, make enlargements of existing prints, and create photo gifts in our award-winning Fujifilm photo lab.
    p Park Cameras London Store regularly has technical experts from major brands in store, working alongside our own staff to answer any queries you may have. If you’re planning a trip to the shop and want to know if someone will be on hand, keep an eye out on our Twitter or send us a DM and ask.
    p We hope that you enjoy your visit to the Park Cameras store in London and you think that this is the best camera shop in London!
    
    ul.pc-itemFeat.pc-ul2
     li Family owned and run for over 40 years
     li Award-winning service
     li Our low internet prices available in store
     li Photography Courses available on site
     li Friendly, passionate staff, dedicated to offer exceptional customer service
     li Award-winning photo lab services
     li Over 1,000 products to touch and try
     li Central London location, just 2 minutes from Tottenham Court Tube
     li 2 huge floors of photography equipment &amp; accessories
     li Wide range of secondhand stock available
     
  hr
  
  .pc-wrapper.pc-column.pc-col1
     
    ul.pc-ul5
      h4 Cameras
      li
        a(href='/c/1/compact-cameras') Compact Cameras
      li
        a(href='/c/89/digital-cameras/digital-slr-cameras') Digital SLRs
      li
        a(href='/c/1602/digital-cameras/compact-system-cameras') Compact System Cameras
      li.pc-spacer-l
        a(href='/c/2529/medium-format-cameras') Medium Format Cameras
      h4 Lenses
      li
        a(href='/c/24/lenses?p=1&q=24&me=_ca&f=ca:4620%7Cca:4621%7Cca:4622%7Cca:4623%7Cca:4624%7Cca:4625%7Cca:4626&x=ca') SLR Lenses
      li
        a(href='/c/24/lenses?p=1&q=24&me=_ca&f=ca:4627%7Cca:4628%7Cca:4629%7Cca:4630%7Cca:4631%7Cca:4632%7Cca:4633%7Cca:4636&x=ca') CSC Lenses
      li
        a(href='/c/24/lenses?p=1&q=24&me=_ca&f=ca:4635%7Cca:4634&x=ca:1') Medium Format Lenses
      li
        a(href='/c/31/af-lens-accessories') Lens Accessories
      li.pc-spacer-l
        a(href='/c/33/filters') Filters
      h4 Bags &amp; Tripods
      li
        a(href='/c/36/bags-cases') Cases, Bags &amp; Straps
      li
        a(href='/c/37/tripods') Tripods
      li.pc-spacer-l
        a(href='/c/1599/tripods/tripod-heads') Tripod Heads
      h4 Memory
      li
        a(href='/c/2/memory-cards') Memory Cards
      li
        a(href='/c/4605/computer-hardware/hard-drives') Hard Drives
      li.pc-spacer-l
        a(href='/c/8/digital-camera-access/card-readersaccessories') Card Readers
      h4 Print, Scan &amp; Edit
      li
        a(href='/c/16/printers') Printers
      li
        a(href='/c/21/scanners') Scanners
      li
        a(href='/c/19/printer-accessories/cartridges') Ink
      li
        a(href='/c/18/printer-accessories/paper') Paper
      li.pc-spacer-l
        a(href='/c/1610/software') Software
      h4 Video
      li
        a(href='/c/63/camcorders/digital-camcorders') Camcorders
      li
        a(href='/c/7501/action-cameras') Action Cameras
      li
        a(href='/c/2582/drones') Drones
      li.pc-spacer-l
        a(href='/c/64/video-accessories') Video Accessories
      h4 Binoculars &amp; Scopes
      li
        a(href='/c/77/binoculars-accessories/binoculars') Binoculars
      li
        a(href='/c/4602/scopes/spottingfieldscopes') Spotting Scopes
      li
        a(href='/c/78/binoculars-accessories/binocular-accessories') Binocular Accessories
      li.pc-spacer-l
        a(href='/c/81/scopes/spotting-scope-accessories') Spotting Scope Accessories
      h4 Flashguns
      li
        a(href='/c/35/flashguns') Flashguns
      li
        a(href='/c/1627/flashgun-accessories') Accessories
      li.pc-spacer-l
        a(href='/c/1611/studio-lighting') Studio Lighting
      h4 Used &amp; Services
      li
        a(href='/c/2503/used') Used Sales
      li
        a(href='/photo-printing') Photo Printing
      li
        a(href='/photo-gifts-at-park-cameras') Photo Gifts
      li
        a(href='/professional-passport-photos') Passport Photos
      li
        a(href='/sensor-cleaning-service') Sensor Cleaning
      li.pc-spacer-l
        a(href='/corporate-sales') Corporate Sales

      h4 Training &amp; Events
      li
        a(href='/c/2518/school-of-photography/bespoke-photography-training') Bespoke Training
      li
        a(href='/c/2513/school-of-photography/camera-courses') Camera Courses
      li
        a(href='/c/2518/school-of-photography/bespoke-photography-training') Corporate Training
      li
        a(href='/c/2514/school-of-photography/studio-photography-courses') Studio Course
      li
        a(href='/c/2517/school-of-photography/wedding-photography-courses') Wedding Courses

block bottomScripts
    script(src='js/swipebox.js')
    script(src='js/contactUs.js')

    