extends template.pug

block vars
  - var title = 'New Nikon';

block content
  .pc-wrapper.pc-column
    .pc-banner.pc-banner-overlay.pc-spacer-xl(style='background-color: rgba(0, 0, 0, 0.60); background-image: url("https://placehold.it/1200x1200");')
      h2(style='font-weight: 700;') Lorem ipsum dolor sit amet
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed pulvinar enim, sed semper felis. Nam tincidunt interdum fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas vehicula risus tellus, a rhoncus risus pretium eleifend. Sed et dui magna. Vestibulum ac tempor elit. Vestibulum venenatis elit id orci finibus, ac sollicitudin mauris tincidunt. Nullam iaculis ornare lectus nec commodo. Maecenas sed elit metus. Vivamus eget elit libero. Quisque quis felis lacus. Donec ultrices dui ut quam aliquet consectetur.
      
      style.
        .pc-mainWrapper iframe {
        margin: 0;
        }
      
        .videoContainer {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom: 1rem;
        }
        .videoContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
      
      .videoContainer
        iframe.videoContent(allow='autoplay; encrypted-media', allowfullscreen='', frameborder='0', src='https://www.youtube.com/embed/NpEaa2P7qZI?rel=0')

      
      div.pc-signup
        div.pc-signupHeader(style='color: #fff;') Register your interest
        div.pc-signupText(style='color: #fff') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed pulvinar enim, sed semper felis.
        form.pc-signupForm(novalidate='novalidate', onsubmit='return registerInterest(this)' style='display: flex; flex-flow: column wrap; align-items: center;')
          input(name='email', placeholder='Enter your email here...', type='email' style='width: 20rem;')
          input(type='submit', value='Register Interest' style='background: #ffe01a; color: #000;')
        div.pc-signupError

block bottomScripts

  script.
    function registerInterest(form) {
      var emailAddress = form.email.value;
      if (emailAddress.indexOf("@") == -1 || emailAddress.indexOf(".") == -1) {
        $('.pc-signupError').text('Please enter a valid email address.')
      } else {
          $.ajax({
            type: "POST",
            url: "https://response.pure360.com/interface/list.php",
            dataType: "json",
            data: {
              accName: "ParkCameras",
              listName: "Registered Interest: New Nikon",
              email: emailAddress,
              doubleOptin: false
            }
          });
        $(".pc-signupHeader").text("Lorem ipsum dolor sit amet");
        $(".pc-signupText").hide();
        $(".pc-signupForm").hide();
      }
    }

    $(".pc-signupForm").submit(function(e) {
      e.preventDefault();
    });



  script(src='js/swipebox.js')