extends template.pug

block vars
  - var title = 'Sign up to the Park Cameras Newsletter';

block content
  .pc-wrapper.pc-column.pc-col1.signupHeader
  
  .pc-wrapper.pc-column.pc-col1.signupText
    p By signing up to the Park Cameras newsletter you'll become part of a service that promises to keep you up to date with the latest products and promotions - including exclusive offers to Park Cameras customers only, and often promoted only via our newsletter!
    
    p We will not clog up your inbox with spammy content - we're only interested in telling you about our latest and greatest - plus we'll point you in the direction of more of our content, including videos and blogs.
      
  .pc-wrapper.pc-column.pc-col1
    form.signupForm(method='POST', action='http://email.parkcameras.com/interface/list.php')
      input(type='hidden', name='accName', value='ParkCameras')
      input(type='hidden', name='listName', value='All Email Subscribers')
      input(name='successUrl', type='hidden', value='https://www.parkcameras.com/krishna-3?signup=success')
      input(name='errorUrl', type='hidden', value='https://www.parkcameras.com/krishna-3?signup=error')
      input(name='Firstname', placeholder='Enter your first name here...')
      input(type='email', name='email', placeholder='Enter your email here...')
      script(src='https://www.google.com/recaptcha/api.js')
      .g-recaptcha(data-sitekey='6Lda1BAUAAAAABeemGvQod8rVNQQUSM2y9pFK_gS')
      input(type='submit', value='Sign Up')

block bottomScripts
    script.
      $(document).ready(function() {
      function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      url = url.toLowerCase(); // This is just to avoid case sensitiveness
      name = name.replace(/[\\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\\+/g, " "));
      }
      var qryString = getParameterByName('signup');
      var signupSuccess = '<h2>Success! You will shortly receive a confirmation email from us.</h2><br /><a class="pc-btn-standard" href="https://www.parkcameras.com/">Continue Shopping</a>';
      var signupError = '<h2>Error. Please try again with a valid email address.</h2>';
      if(qryString == '')
      {
      return false;
      }
      else
      {
      if(qryString == 'success')
      {
      $('.signupHeader').html(signupSuccess);
      $('.signupText').html('');
      $('.signupForm').html('');
      }
      if(qryString == 'error')
      {
      $('.signupHeader').html(signupError);
      $('.signupText').html('');
      }
      }
      });
