extends template.pug

block vars
  - var title = 'Park Cameras Photo Gifts';

block content
  .pc-wrapper.pc-column.pc-col1
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis. Donec a nibh sed ipsum fermentum vehicula vel ac lectus. Nulla congue feugiat tellus, ut imperdiet enim elementum a. Sed sed odio eu nibh gravida ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam varius pulvinar quam vitae porta. Aenean nisl quam, dictum id sem in, sodales tristique tortor.
  
    hr
    .pc-wrapper.pc-row
    
      .pc-column.pc-col3
        .pc-productBanner
          img(src='http://content.parkcameras.com/5/1/images/landing_pages/Photo-Slate.jpg', alt='Photo Slate')
          h2 Photo Slate
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis.
          p Approx 7.5" x 5.5" with a gloss finish
          p
            small 2-day turnaround, stands included
          p.pc-price &pound;12.99
          a.pc-btn-standard(href='#', title='CTA') Buy Now
          
      .pc-column.pc-col3
        .pc-productBanner
          img(src='http://content.parkcameras.com/5/1/images/landing_pages/Photo-Slate.jpg', alt='Photo Slate')
          h2 Photo Slate
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis.
          p Approx 7.5" x 5.5" with a gloss finish
          p
            small 2-day turnaround, stands included
          p.pc-price &pound;12.99
          a.pc-btn-standard(href='#', title='CTA') Buy Now
          
      .pc-column.pc-col3
        .pc-productBanner
          img(src='http://content.parkcameras.com/5/1/images/landing_pages/Photo-Slate.jpg', alt='Photo Slate')
          h2 Photo Slate
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis.
          p Approx 7.5" x 5.5" with a gloss finish
          p
            small 2-day turnaround, stands included
          p.pc-price &pound;12.99
          a.pc-btn-standard(href='#', title='CTA') Buy Now
          
          
          

block bottomScripts
    script(src='js/swipebox.js')
    