extends template.pug

block vars
  - var title = 'Park Cameras Photo Gifts - Canvas Prints';

block content
  .pc-wrapper.pc-column.pc-col1
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis. Donec a nibh sed ipsum fermentum vehicula vel ac lectus. Nulla congue feugiat tellus, ut imperdiet enim elementum a. Sed sed odio eu nibh gravida ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam varius pulvinar quam vitae porta. Aenean nisl quam, dictum id sem in, sodales tristique tortor.
    
  .pc-wrapper.pc-row
    
    .pc-column.pc-col2
      img(src='https://images.pexels.com/photos/276583/pexels-photo-276583.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb', alt='')
    
    .pc-column.pc-col2
      table
        tr
          th A Sample
          th Of Some
          th Table
        tr
          td Information
          td
            a(href='#') Deep Link
          td Information
        tr
          td Information
          td
            a(href='#') Deep Link
          td Information
        tr
          td Information
          td
            a(href='#') Deep Link
          td Information
        tr
          td Information
          td
            a(href='#') Deep Link
          td Information
        tr
          td Information
          td
            a(href='#') Deep Link
          td Information
        tr
          td Information
          td
            a(href='#') Deep Link
          td Information
          
  .pc-wrapper.pc-column.pc-col1
    h2 How to buy
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nisi neque, non commodo diam tincidunt quis. Donec a nibh sed ipsum fermentum vehicula vel ac lectus. Nulla congue feugiat tellus, ut imperdiet enim elementum a. Sed sed odio eu nibh gravida ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam varius pulvinar quam vitae porta. Aenean nisl quam, dictum id sem in, sodales tristique tortor.
    a.pc-btn-standard(href='', title='') View Web Application
          
block bottomScripts
    script(src='js/swipebox.js')
    