- var title = 'Imaging Festival 2017'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          
          .pc-wrapper.pc-column
            .pc-banner.pc-spacer-xl
              h3 Celebrate Summer at the UK's Largest One Day Photo Show!
              p Join Park Cameras at our annual Imaging Festival this June where you can share your passion for photography!
              p On the day you’ll find some incredible one-day-only offers, a number of bite-size seminars from experts in the photographic industry, and product experts available all day from leading brands including Canon, Nikon, Fujifilm, Panasonic and Sony to name just a few.
          
          .pc-wrapper.pc-column.pc-col1
              h2 Sign up to our newsletter!
              p.pc-spacer-xl Keep up-to-date with the latest information about the imaging festival &amp; to be the first to know our special one-day only offers!
              a.pc-btn-standard Sign Up         
          hr
        
          .pc-wrapper.pc-column.pc-col1 
            p This year we have a wide range of FREE seminars that you can take advantage of. Please see below for the whole range and to reserve your space.
            p We’ll be open from 9:00am - 6:30pm at London and 9:00am - 5:30pm at Burgess Hill. Seminar times can be seen below. Booking your place on these sessions will be essential as in previous years they have sold out quickly!
            p Please note, due to the popularity of our bitesize seminars, places will be restricted to a maximum of two sessions per customer at each store. We will try to allocate additional spaces, where possible.
          .pc-wrapper.pc-row
            ul.pc-ul1
              li
                a(href='#1') Burgess Hill Seminars
              li
                a(href='#2') London Seminars
              li
                a(href='#3') Free Canon Sensor Cleaning
        
          hr#1
          .pc-wrapper.pc-column.pc-col1
            h2 Burgess Hill Seminars
          .pc-wrapper.pc-row
          
            .pc-column.pc-col2
              img.pc-spacer-s(src='http://placehold.it/600x300')
              h3 Lorem Ipsum
              h3 00:00 - 00:00
              p.pc-spacer-xl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin fermentum neque, sit amet tempus enim iaculis at. Ut lobortis dui tellus, non tristique quam porta quis. Sed rutrum lectus velit, at viverra felis rhoncus nec. Nullam interdum felis arcu, et euismod erat venenatis in. Sed eleifend sollicitudin laoreet. Aenean maximus, orci eu molestie luctus, lacus tellus viverra dui, sit amet commodo nibh augue eget nulla. Morbi ac tellus eu odio feugiat scelerisque non sed orci. Cras quis enim vitae felis dignissim condimentum id sed nisl.
              a.pc-btn-standard(href='#' title='') Lorem Ipsum

            .pc-column.pc-col2
              img.pc-spacer-s(src='http://placehold.it/600x300')
              h3 Lorem Ipsum
              h3 00:00 - 00:00
              p.pc-spacer-xl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin fermentum neque, sit amet tempus enim iaculis at. Ut lobortis dui tellus, non tristique quam porta quis. Sed rutrum lectus velit, at viverra felis rhoncus nec. Nullam interdum felis arcu, et euismod erat venenatis in. Sed eleifend sollicitudin laoreet. Aenean maximus, orci eu molestie luctus, lacus tellus viverra dui, sit amet commodo nibh augue eget nulla. Morbi ac tellus eu odio feugiat scelerisque non sed orci. Cras quis enim vitae felis dignissim condimentum id sed nisl.
              a.pc-btn-standard(href='#' title='') Lorem Ipsum
              
          hr#2
          .pc-wrapper.pc-column.pc-col1
            h2 London Seminars
          .pc-wrapper.pc-row
          
            .pc-column.pc-col2
              img.pc-spacer-s(src='http://placehold.it/600x300')
              h3 Lorem Ipsum
              h3 00:00 - 00:00
              p.pc-spacer-xl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin fermentum neque, sit amet tempus enim iaculis at. Ut lobortis dui tellus, non tristique quam porta quis. Sed rutrum lectus velit, at viverra felis rhoncus nec. Nullam interdum felis arcu, et euismod erat venenatis in. Sed eleifend sollicitudin laoreet. Aenean maximus, orci eu molestie luctus, lacus tellus viverra dui, sit amet commodo nibh augue eget nulla. Morbi ac tellus eu odio feugiat scelerisque non sed orci. Cras quis enim vitae felis dignissim condimentum id sed nisl.
              a.pc-btn-standard(href='#' title='') Lorem Ipsum
              
            .pc-column.pc-col2
              img.pc-spacer-s(src='https://content.parkcameras.com/5/1/images/landing_pages/IF-Seminar-CCC.jpg')
              h3 Coffee, cakes and cameras with Park Cameras and the Nikon School
              h3 00:00 - 00:00
              p Park Cameras in conjunction with the Nikon School are pleased to offer customers the opportunity to attend a special seminar at the Nikon School hosted by Nikon Ambassador Jeremy Walker.
              p Join award winning landscape photographer and Nikon Ambassador Jeremy Walker who will be doing a talk about his photography. Jeremy has been producing eye-catching landscape and architectural imagery for advertising, editorial and design clients around the globe for over twenty years. He will be sharing with you his experience and techniques in order to inspire and help you bring your photography to the next level.
              p Also on hand will be staff from the Nikon School to discuss your product requirements and to demonstrate the range of Nikon equipment held at the school.
              p.pc-spacer-xl Tickets, which cost £20, are strictly limited and will include refreshments and time to talk to the staff at the Nikon School.
              a.pc-btn-standard(href='#' title='') Lorem Ipsum
              
          hr#3
          .pc-wrapper.pc-column.pc-col1
            h2 Canon Sensor Cleaning
          
          .pc-wrapper.pc-row
            .pc-column.pc-col2
              img(src='https://content.parkcameras.com/5/1/images/landing_pages/IF-Service-SC1.jpg')
            .pc-column.pc-col2
              img(src='https://content.parkcameras.com/5/1/images/landing_pages/IF-Service-SC2.jpg')
          .pc-wrapper.pc-row
            .pc-column.pc-col1
              p Throughout the Imaging Festival, Canon users can get their Digital SLR sensor cleaned for FREE by technical experts from Canon UKs service centre (although we are accepting charitable donations going to a local charity.)
              p There are set times throughout the day to drop your camera in, and you can then collect it around 1 hour later. Simply click on the time that you would like to bring your camera into us to book your slot. We are able to allow one camera per person, and the camera must be a Canon. There is a maximum number of cameras we can clean per slot. You can also bring in your camera on the day, although we cannot guarantee the sensor clean will be done within the hour.
              p The Canon technicians will clean the accessible surface of the sensor as best possible. We cannot guarantee to remove every particle on the surface, but in the majority of cases, the sensor is left very clean. Very occasionally, particles can get between the filter and the sensor and if this happens, the Canon technicians will not remove the filter to clean beneath it. This would have to be booked in with Canon at a separate time.
              p Please help us to help you and ensure that when you deliver your camera for your FREE sensor clean that you do so along with the following:
              ul
                li Camera Body Cap / Lens
                li Fully Charged Battery
              p and that you have downloaded any image files or data to your satisfaction and have removed the memory card(s).
              p.pc-spacer-xl Whilst conducting the initial checks on the camera, we will contact you before continuing if we feel it is unsafe to clean the sensor - due to existing scratches or stubborn marks that could cause further damage.
              a.pc-btn-standard(href='#' title='') Lorem Ipsum
          
              
          include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
