- var title = 'Park Cameras Ambassador - Andy Rouse'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainwrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          .pc-wrapper.pc-row
            .pc-column.pc-col2
              img(src='https://placehold.it/600x400', alt='')
              .pc-itemGallery
                a.swipebox(rel='1', href='https://placehold.it/600x400')
                  img(src='https://placehold.it/600x400', alt='')
                a.swipebox(rel='1', href='https://placehold.it/600x400')
                  img(src='https://placehold.it/600x400', alt='')
                a.swipebox(rel='1', href='https://placehold.it/600x400')
                  img(src='https://placehold.it/600x400', alt='') 
                a.swipebox(rel='1', href='https://placehold.it/600x400')
                  img(src='https://placehold.it/600x400', alt='')
              p.pc-trademark &copy; Andy Rouse
            .pc-column.pc-col2
                button.pc-headline Biography
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat corporis suscipit eum, voluptates officiis, blanditiis officia harum voluptatum ducimus voluptas dolorum qui a commodi est at reprehenderit labore nisi sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non officia, cupiditate recusandae, omnis est officiis excepturi quasi iusto nihil odit perspiciatis ullam aut maiores. Amet laborum officiis cumque nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias fugit harum velit praesentium aut molestias perferendis voluptates mollitia est, aliquam porro repellendus recusandae provident! Quae neque iste consequuntur ducimus dolorem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sequi, dolorum molestiae iste eaque eum tenetur quos veritatis nisi, dolores nobis.
          // FINISH
    
        include includes/bottomScripts.pug
