- var title = 'Imaging Festival 2017'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
          .pc-wrapper.pc-column.pc-col1
            h1 #{title}
          hr
          
          .pc-wrapper.pc-column
            .pc-banner.pc-banner-overlay(style='background-image: url(https://content.parkcameras.com/5/1/images/landing_pages/IF-Seminar-CCC.jpg)')
              h3 Celebrate Summer at the UK's Largest One Day Photo Show!
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin fermentum neque, sit amet tempus enim iaculis at. Ut lobortis dui tellus, non tristique quam porta quis. Sed rutrum lectus velit, at viverra felis rhoncus nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          .pc-wrapper.pc-column.pc-col1
            p Join Park Cameras at our annual Imaging Festival this June where you can share your passion for photography!
            p On the day you’ll find some incredible one-day-only offers, a number of bite-size seminars from experts in the photographic industry, and product experts available all day from leading brands including Canon, Nikon, Fujifilm, Panasonic and Sony to name just a few.

            ul.pc-ul3
              li BEST Deals in the UK
              li FREE Entry
              li FREE Vouchers
              li FREE Prize Draws
              li FREE Competition
              li FREE Seminars
              li FREE Parking (BH Store)
              li FREE Canon Sensor Cleaning
              li FREE Giveaways
              li FREE Expert Advice
              
            h4 Many more deals on over 1,000 products – to find out more, please get to store at 9am on the day. Queues expected, so to take advantage of these great one-day only deals please arrive early!
            
          .pc-wrapper.pc-column
            .pc-banner
              h3 Sign up to our newsletter!
              p Keep up-to-date with the latest information about the imaging festival &amp; to be the first to know our special one-day only offers!
              a.pc-btn-inverse Sign Up
              
          hr
              
          .pc-wrapper.pc-column.pc-col1 
            p This year we have a wide range of FREE seminars that you can take advantage of. Please see below for the whole range and to reserve your space.
            p We’ll be open from 9:00am - 6:30pm at London and 9:00am - 5:30pm at Burgess Hill. Seminar times can be seen below. Booking your place on these sessions will be essential as in previous years they have sold out quickly!
            p Please note, due to the popularity of our bitesize seminars, places will be restricted to a maximum of two sessions per customer at each store. We will try to allocate additional spaces, where possible.
          .pc-wrapper.pc-row
            ul.pc-ul1
              li
                a(href='#1') Burgess Hill Seminars
              li
                a(href='#2') London Seminars
              li
                a(href='#3') Free Canon Sensor Cleaning
        
          hr#1
          .pc-wrapper.pc-column.pc-col1
            h2 Burgess Hill Seminars
          .pc-wrapper.pc-row
            .pc-column.pc-col2
              img(src='http://placehold.it/600x400')
            .pc-column.pc-col2
              h2 Lorem Ipsum
              h3 00:00 - 00:00
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin fermentum neque, sit amet tempus enim iaculis at. Ut lobortis dui tellus, non tristique quam porta quis. Sed rutrum lectus velit, at viverra felis rhoncus nec. Nullam interdum felis arcu, et euismod erat venenatis in. Sed eleifend sollicitudin laoreet. Aenean maximus, orci eu molestie luctus, lacus tellus viverra dui, sit amet commodo nibh augue eget nulla. Morbi ac tellus eu odio feugiat scelerisque non sed orci. Cras quis enim vitae felis dignissim condimentum id sed nisl.
              br 
              a.pc-btn-standard(href='#' title='') Lorem Ipsum
              
          hr#2
          .pc-wrapper.pc-column.pc-col1
            h2 London Seminars
          .pc-wrapper.pc-row
            .pc-column.pc-col2
              
            .pc-column.pc-col2
              img(src='https://content.parkcameras.com/5/1/images/landing_pages/IF-Seminar-CCC.jpg')
              h2 Lorem Ipsum
              h3 00:00 - 00:00
              p Park Cameras in conjunction with the Nikon School are pleased to offer customers the opportunity to attend a special seminar at the Nikon School hosted by Nikon Ambassador Jeremy Walker.
              p Join award winning landscape photographer and Nikon Ambassador Jeremy Walker who will be doing a talk about his photography. Jeremy has been producing eye-catching landscape and architectural imagery for advertising, editorial and design clients around the globe for over twenty years. He will be sharing with you his experience and techniques in order to inspire and help you bring your photography to the next level.
              p Also on hand will be staff from the Nikon School to discuss your product requirements and to demonstrate the range of Nikon equipment held at the school.
              p Tickets, which cost £20, are strictly limited and will include refreshments and time to talk to the staff at the Nikon School.
              br 
              a.pc-btn-standard(href='#' title='') Lorem Ipsum
              
          hr#3
          .pc-wrapper.pc-column.pc-col1
            h2 Canon Sensor Cleaning
          .pc-wrapper.pc-row
            .pc-column.pc-col2
              img(src='http://placehold.it/600x400')
            .pc-column.pc-col2
              p Sed eleifend sollicitudin laoreet. Aenean maximus, orci eu molestie luctus, lacus tellus viverra dui, sit amet commodo nibh augue eget nulla. Morbi ac tellus eu odio feugiat scelerisque non sed orci. Cras quis enim vitae felis dignissim condimentum id sed nisl.
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin fermentum neque, sit amet tempus enim iaculis at. Ut lobortis dui tellus, non tristique quam porta quis. Sed rutrum lectus velit, at viverra felis rhoncus nec. Nullam interdum felis arcu, et euismod erat venenatis in. Sed eleifend sollicitudin laoreet. Aenean maximus, orci eu molestie luctus, lacus tellus viverra dui, sit amet commodo nibh augue eget nulla. Morbi ac tellus eu odio feugiat scelerisque non sed orci. Cras quis enim vitae felis dignissim condimentum id sed nisl.
              br 
              a.pc-btn-standard(href='#' title='') Lorem Ipsum
          
              
          include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
