- var title = 'Promotional Offers & Discounts'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
            .pc-wrapper.pc-column.pc-col1
                h1 #{title}
            
            hr

            
            .pc-wrapper.pc-column.pc-col1
              p We regularly have promotions and offers available at Park Cameras, including deals, cashback, free gifts, discounts, trade-in bonus offers, and seasonal sales such as Spring Sale, Summer Sale, Autumn Sale, Winter Sale, January Sales, Boxing Day Sales, and of course our very best Black Friday Deals on cameras, lenses, photographic accessories, lighting, tripods, camera bags, printers &amp; much more.
              p On this page you'll find all the current Park Cameras promotions and deals available from a wide range of the leading brands, as well as details on how to claim your cashback and where to find the best deals.
              p Keep up to date with the latest discount codes and coupon offers from Park Cameras by 
                a(href='https://www.parkcameras.com/newsletter-signup-full', title='Sign up to Park Cameras') signing up to our mailing list
                |.
            
            
            // -----------------CANON----------------- //
            
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#canon Canon Cashback &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/Canon-offers-logo.png', alt='Canon Brand Logo')
              .pc-column.pc-col2
                p Cashback, promotional offers, and discounts from Canon on DSLR cameras, lenses, mirrorless cameras, and accessories will be shown here when they are running. Individual offers and promotions are also shown on specific product pages.
                p(style='font-weight: 700;') Learn more about Canon promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://www.canon.co.uk/promotions/', target='_blank', title='Canon Promotions') visiting their promotions page
                  |. 
                
                .pc-promoBanner(data-start-date='2018-02-01' data-end-date='2018-02-28')
                  h2 Canon EOS 5D Mark IV
                  p Get &pound;200 trade-in bonus when you trade in qualifying working digital interchangeable lens camera for the 
                    a(href='https://www.parkcameras.com/p/1010055C', title='Canon EOS 5D Mark IV') Canon EOS 5D Mark IV
                    |.
                  p
                    small Promotion valid 01/02/18 - 28/02/18
                
                .pc-promoBanner(data-start-date='2018-01-19' data-end-date='2018-02-28')
                  h2 Canon EOS M100
                  p Save &pound;50 on the 
                    a(href='https://www.parkcameras.com/search/go?w=canon%20eos%20m100&af=cat1:digitalcameras', title='Canon EOS M100') Canon EOS M100 Body or Kit
                    | 
                    | when you use the voucher code 
                    span(style='font-weight: 700;') CANON-50-OFF
                    | 
                    | at checkout.
                  p
                    small Promotion valid 19/01/18 - 28/02/18
                    
                .pc-promoBanner(data-start-date='2018-01-24' data-end-date='2018-02-21')
                  h2 Canon EOS 1300D
                  p Save &pound;30 on the 
                    a(href='https://www.parkcameras.com/search/go?w=canon%20eos%201300d&af=cat1:digitalcameras', title='Canon EOS 1300D') Canon EOS 1300D Body or Kit
                    | 
                    | when you use the voucher code 
                    strong CANON-30-OFF
                    | 
                    | at checkout.
                    
                  p
                    small Promotion valid 14/02/18 - 21/02/18
                    
            // -----------------FUJIFILM----------------- //
                    
            hr

            .pc-wrapper.pc-column.pc-col1
              h2#fujifilm Fujifilm Trade-In Deals, Cashback &amp; Discounts
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/Fujifilm-offers-logo.png', alt='Fujifilm Brand Logo')
              .pc-column.pc-col2
                p Here you'll find the latest cashback deals, promotional offers, and cashback from Fujifilm on their extensive range of mirrorless cameras, premium compact cameras, lenses, and photographic accessories. Also check out individual product pages for specific offers.
                p(style='font-weight: 700;') Learn more about Fujifilm promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://fujifilm-promotions.com/gb/en/pages/promotion', target='_blank', title='Fujifilm Promotions') visiting their promotions page
                  |.
                
                .pc-promoBanner(data-start-date='2018-02-01' data-end-date='2018-03-31')
                  h2 Fujifilm X-T2
                  p Save &pound;250 when you purchase the 
                    a(href='https://www.parkcameras.com/search/go?w=Fujifilm+X-T2', title='Fujifilm X-T2') Fujifilm X-T2 Body or Kit
                    | 
                    | with 
                    a(href='https://www.parkcameras.com/search/go?w=Fujifilm+X-T2+Lenses', title='Fujinon XF Lenses') selected Fujinon XF lenses
                    |.
                  p
                    small Promotion valid 01/02/18 - 31/03/18
                
                .pc-promoBanner(data-start-date='2018-01-17' data-end-date='2018-04-30')
                  h2 Fujifilm GFX 50S
                  p Save &pound;1,200 when you purchase the 
                    a(href='https://www.parkcameras.com/p/2015555B', title='Fujifilm GFX 50S') Fujifilm GFX 50S
                    | 
                    | with 
                    a(href='https://www.parkcameras.com/search/go?w=Fujifilm+GFX+50S+Promotion', title='Fujinon GF Lenses') selected Fujinon GF lenses
                    |.
                  p
                    small Promotion valid 17/01/18 - 30/04/18
                    
                .pc-promoBanner(data-start-date='2018-02-01' data-end-date='2018-04-30')
                  h2 Fujifilm GFX 50S
                  p Get &pound;450 trade-in bonus when you trade in qualifying working full-frame DSLR, full-frame mirrorless or medium-format camera for the 
                    a(href='https://www.parkcameras.com/p/2015555B', title='Fujifilm GFX 50S') Fujifilm GFX 50S
                    |.
                  p
                    small Promotion valid 17/01/18 - 30/04/18
                    
            // -----------------GITZO----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#gitzo Gitzo Tripod Offers &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/gitzo-offers-logo.png', alt='Gitzo Brand Logo')
              .pc-column.pc-col2
                p All current cashback, deals, and discounts on Gitzo tripods and tripod accessories are shown here when thye're running. You'll also find specific offers on individual product pages.
                    
            // -----------------NIKON----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#nikon Nikon Cashback Offers &amp; Discounts
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/nikon-offers-logo.png', alt='Nikon Brand Logo')
              .pc-column.pc-col2
                p All current Nikon promotions, cashback offers, discounts, and deals on cameras, lenses, and accessories will appear here when they're available. You'll find specific offers on the individual product pages.
                p(style='font-weight: 700;') Learn more about Nikon promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://nikonpromotions.co.uk/', target='_blank', title='Nikon Promotions') visiting their promotions page
                  |.
                    
            // -----------------OLYMPUS----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#olympus Olympus Offers &amp; Cashback Promotions
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/olympus-offers-logo.png', alt='Olympus Brand Logo')
              .pc-column.pc-col2
                p All the latest cashback promotions, deals and offers on Olympus compact cameras, lenses, micro four thirds, and photographic accessories will be displayed here when they're running, with individual offers also shown on specific product pages.
                p(style='font-weight: 700;') Learn more about Olympus promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://olympusuk.sales-promotions.com/', target='_blank' title='Olympus Promotions') visiting their promotions page
                  |.
                
                .pc-promoBanner(data-start-date='2018-01-16' data-end-date='2018-03-31')
                  h2 Olympus OM-D E-M10 III
                  p Receive a Free 
                    a(href='https://www.parkcameras.com/p/4110286W', title='Olympus Mini Messenger Bag') Olympus Mini Messenger Bag
                    | 
                    | when you purchase an 
                    a(href='https://www.parkcameras.com/search/go?w=Olympus+OM-D+E-M10+III', title='Olympus OM-D E-M1 10 III') Olympus OM-D E-M1 10 III Body or Kits
                    |.
                  p
                    small Promotion valid 16/01/18 - 31/03/18
                    
            // -----------------PANASONIC----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#panasonic Panasonic Cashback Offers &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/panasonic-offers-logo.png', alt='Panasonic Brand Logo')
              .pc-column.pc-col2
                p The latest Panasonic cashback promotions, deals, discounts and offers on cameras, lenses, video cameras, micro four thirds cameras, and accessories are shown here when they're available, while offers are also shown on the specific product pages.
                p(style='font-weight: 700;') Learn more about Panasonic promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://promotions.panasonic.co.uk/', target='_blank', title='Panasonic Promotions') visiting their promotions page
                  |.
                    
                .pc-promoBanner(data-start-date='2018-01-31' data-end-date='2018-03-16')
                  h2 Panasonic Lens Cashback
                  p Claim up to an additional &pound;100 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/panasonic-cashback', title='Sony Cashback') selected Panasonic lenses
                    |.
                  p
                    small Promotion valid 31/01/18 - 16/03/18
                    
            // -----------------PENTAX----------------- //
                    
              hr

            .pc-wrapper.pc-column.pc-col1
              h2#pentax Pentax Cashback Promotions &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/pentax-offers-logo.png', alt='Pentax Brand Logo')
              .pc-column.pc-col2
                p Offers, deals, discounts, and cashback promotions on Pentax digital SLR cameras, medium format cameras, lenses, and photographic accessories will be displayed here when they're running, with offers also shown on individual product pagses.
                    
            // -----------------SONY----------------- //
                    
            hr

            .pc-wrapper.pc-column.pc-col1
              h2#sony Sony Deals &amp; Cashback Offers
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/sony-offers-logo.png', alt='Sony Brand Logo')
              .pc-column.pc-col2
                p Current Sony cashback deals, offers, discounts and promotions on digital SLR cameras, compact camers, action cameras, Alpha mirrorless cameras, lenses, and accessories will be shown here when they're running, while individual offers will also be shown on specific product pages.
                p(style='font-weight: 700;') Learn more about Sony promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://www.sony.co.uk/deals-offers', target='_blank', title='Sony Promotions') visiting their promotions page
                  |.
                
                .pc-promoBanner(data-start-date='2017-10-18' data-end-date='2018-01-21')
                  h2 Sony Cashback
                  p Claim up to &pound;800 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/sony-cashback', title='Sony Cashback') selected Sony products
                    |.
                  p
                    small Promotion valid 18/10/17 - 21/01/18          

            include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
