- var title = 'Promotional Offers & Discounts'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
            .pc-wrapper.pc-column.pc-col1
                h1 #{title}
            
            hr

            .pc-wrapper.pc-column.pc-col1
              p We regularly have promotions and offers available at Park Cameras, including deals, cashback, free gifts, discounts, trade-in bonus offers, and seasonal sales such as Spring Sale, Summer Sale, Autumn Sale, Winter Sale, January Sales, Boxing Day Sales, and of course our very best Black Friday Deals on cameras, lenses, photographic accessories, lighting, tripods, camera bags, printers &amp; much more.
              p On this page you'll find all the current Park Cameras promotions and deals available from a wide range of the leading brands, as well as details on how to claim your cashback and where to find the best deals.
              p Keep up to date with the latest discount codes and coupon offers from Park Cameras by 
                a(href='https://www.parkcameras.com/newsletter-signup-full', title='Sign up to Park Cameras') signing up to our mailing list
                |.

            // -----------------CANON----------------- //

            hr

            .pc-wrapper.pc-column.pc-col1
              h2#canon Canon Cashback &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/Canon-offers-logo.png', alt='Canon Brand Logo')
              .pc-column.pc-col2
                p Cashback, promotional offers, and discounts from Canon on DSLR cameras, lenses, mirrorless cameras, and accessories will be shown here when they are running. Individual offers and promotions are also shown on specific product pages.
                p(style='font-weight: 700;') Learn more about Canon promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://www.canon.co.uk/promotions/', target='_blank', title='Canon Promotions') visiting their promotions page
                  |. 

                .pc-promoBanner(data-start-date='2018-05-16' data-end-date='2018-08-31')
                  h2 Canon Cashback
                  p Claim up to &pound;265 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/canon-cashback', title='Canon Cashback') selected Canon products
                    |.
                  p
                    small Promotion valid 16/05/18 - 31/08/18

                .pc-promoBanner(data-start-date='2018-04-19' data-end-date='2018-07-15')
                  h2 Canon EOS M100
                  p Save &pound;50 on the 
                    a(href='https://www.parkcameras.com/search/go?w=Canon+EOS+M100', title='Canon EOS M100') Canon EOS M100 Body and Kits
                    | 
                    | when you use the voucher code 
                    strong CANON-50
                    | 
                    | at checkout.
                  p
                    small Promotion valid 19/04/18 - 15/07/18

                .pc-promoBanner(data-start-date='2018-06-06' data-end-date='2018-07-31')
                  h2 Canon EOS M5
                  p Save &pound;200 on the 
                    a(href='https://www.parkcameras.com/search/go?w=Canon%20EOS%20M5%20Mirrorless%20Camera', title='Canon EOS M5') Canon EOS M5 Body and Kits
                    | 
                    | when you use the voucher code 
                    strong CANON-200
                    | 
                    | at checkout.
                  p
                    small Promotion valid 06/06/18 - 31/07/18

                .pc-promoBanner(data-start-date='2018-06-01' data-end-date='2018-07-31')
                  h2 Canon 2000D and 4000D
                  p Receive a FREE 
                    a(href='https://www.parkcameras.com/p/1362208L', title='Canon ES100 Camera Bag') Canon ES100 Camera Bag
                    | 
                    | worth &pound;39.99 when you purchase a 
                    a(href='https://www.parkcameras.com/search/go?w=Canon%20EOS%202000D%20', title='Fujifilm X-T2') Canon EOS 2000D Body or Kit
                    | 
                    | or a 
                    a(href='https://www.parkcameras.com/search/go?w=Canon%20EOS%204000D', title='Fujifilm X-T2') Canon EOS 4000D Body or Kit
                    |.
                  p
                    small Promotion valid 01/06/18 - 31/07/18

            // -----------------FUJIFILM----------------- //
                    
            hr

            .pc-wrapper.pc-column.pc-col1
              h2#fujifilm Fujifilm Trade-In Deals, Cashback &amp; Discounts
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/Fujifilm-offers-logo.png', alt='Fujifilm Brand Logo')
              .pc-column.pc-col2
                p Here you'll find the latest cashback deals, promotional offers, and cashback from Fujifilm on their extensive range of mirrorless cameras, premium compact cameras, lenses, and photographic accessories. Also check out individual product pages for specific offers.
                p(style='font-weight: 700;') Learn more about Fujifilm promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://fujifilm-promotions.com/gb/en/pages/promotion', target='_blank', title='Fujifilm Promotions') visiting their promotions page
                  |.

                .pc-promoBanner(data-start-date='2018-05-24' data-end-date='2018-07-31')
                  h2 Fujifilm X-T2
                  p Receive a FREE 
                    a(href='https://www.parkcameras.com/p/2110144W', title='Fujifilm BLC-XT2 Leather Half Case') Fujifilm BLC-XT2 Leather Half Case
                    | 
                    | worth &pound;69 when you purchase a 
                    a(href='https://www.parkcameras.com/search/go?w=Fujifilm+X-T2', title='Fujifilm X-T2') Fujifilm X-T2 Body or Kit
                    |.
                  p
                    small Promotion valid 24/05/18 - 31/07/18


                .pc-promoBanner(data-start-date='2018-07-03' data-end-date='2018-09-30')
                  h2 Fujifilm Savings
                  p Save up to &pound;270 on 
                    a(href='https://www.parkcameras.com/search/go?w=Fujifilm%20Savings', title='Fujifilm Savings') selected Fujifilm cameras
                    | 
                    | when you use our voucher code at checkout.
                  p
                    small Promotion valid 03/07/18 - 30/09/18

                .pc-promoBanner(data-start-date='2018-07-03' data-end-date='2018-09-30')
                  h2 Fujifilm Half Price Lenses
                  p Save over &pound;200 on 
                    a(href='https://www.parkcameras.com/search/go?w=Fujinon%20f%2F2%20R%20WR', title='Fujinon f/2 R WR Lenses') selected Fujinon lenses
                    | 
                    | when bought with the 
                    a(href='https://www.parkcameras.com/search/go?w=Fujifilm%20X-Pro2', title='Fujifilm X-Pro2 ') Fujifilm X-Pro2 
                    | 
                    | or 
                    a(href='https://www.parkcameras.com/search/go?w=Fujifilm%20X-E3', title='Fujifilm X-E3') Fujifilm X-E3
                    |.
                  p
                    small Promotion valid 03/07/18 - 30/09/18

                .pc-promoBanner(data-start-date='2018-01-17' data-end-date='2018-09-30')
                  h2 Fujifilm GFX 50S
                  p Save &pound;1,200 when you purchase the 
                    a(href='https://www.parkcameras.com/p/2015555B', title='Fujifilm GFX 50S') Fujifilm GFX 50S
                    | 
                    | with 
                    a(href='https://www.parkcameras.com/search/go?w=Fujifilm+GFX+50S+Promotion', title='Fujinon GF Lenses') selected Fujinon GF lenses
                    |.
                  p Get &pound;450 trade-in bonus when you trade in qualifying working full-frame DSLR, full-frame mirrorless or medium-format camera for the 
                    a(href='https://www.parkcameras.com/p/2015555B', title='Fujifilm GFX 50S') Fujifilm GFX 50S
                    |.
                  p
                    small Promotion valid 17/01/18 - 30/09/18

            // -----------------MANFROTTO----------------- //

            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#manfrotto Manfrotto Offers &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/brandlogo/manfrotto.png', alt='Manfrotto Brand Logo')
              .pc-column.pc-col2
                p All current cashback, deals, and discounts on Manfrotto tripods and tripod accessories are shown here when they're running. You'll also find specific offers on individual product pages.

                .pc-promoBanner(data-start-date='2018-06-24' data-end-date='2018-09-09')
                  h2 Manfrotto Summer Essentials 1
                  p  Receive a FREE Manfrotto Pixi EVO Black with 
                    a(href='https://www.parkcameras.com/search/go?w=Manfrotto%20Summer%20Essentials%201', title='Manfrotto Summer Essentials') Windsor Bags
                    |.
                  p
                    small Promotion valid 24/06/18 - 09/09/18
                    
                .pc-promoBanner(data-start-date='2018-06-24' data-end-date='2018-09-09')
                  h2 Manfrotto Summer Essentials 2
                  p  Receive a FREE Joby Gorillapod 3K Stand with 
                    a(href='https://www.parkcameras.com/search/go?w=Manfrotto%20Summer%20Essentials%202', title='Manfrotto Summer Essentials') Pro Light Backpack or Messenger Bags
                    |.
                  p
                    small Promotion valid 24/06/18 - 09/09/18
                    
                .pc-promoBanner(data-start-date='2018-06-24' data-end-date='2018-09-09')
                  h2 Manfrotto Summer Essentials 3
                  p Receive a FREE Manfrotto MM290C4 Monopod with 
                    a(href='https://www.parkcameras.com/search/go?w=Manfrotto%20Summer%20Essentials%203', title='Manfrotto Summer Essentials') 055 Carbon Fibre Tripods
                    |.
                  p
                    small Promotion valid 24/06/18 - 09/09/18
                    
                .pc-promoBanner(data-start-date='2018-06-24' data-end-date='2018-09-09')
                  h2 Manfrotto Summer Essentials 4
                  p  Receive a FREE Manfrotto Advanced Shoulder Bag C1 with 
                    a(href='https://www.parkcameras.com/search/go?w=Manfrotto%20Summer%20Essentials%204', title='Manfrotto Summer Essentials') 190 Tripod or Kit
                    |.
                  p
                    small Promotion valid 24/06/18 - 09/09/18
                    
                .pc-promoBanner(data-start-date='2018-06-24' data-end-date='2018-09-09')
                  h2 Manfrotto Summer Essentials 5
                  p  Receive a FREE Gitzo Tripod Bag with 
                    a(href='https://www.parkcameras.com/search/go?w=Manfrotto%20Summer%20Essentials%205', title='Manfrotto Summer Essentials') Tripod or Kits
                    |.
                  p
                    small Promotion valid 24/06/18 - 09/09/18
                    
                .pc-promoBanner(data-start-date='2018-06-24' data-end-date='2018-09-09')
                  h2 Manfrotto Summer Essentials 6
                  p  Receive a FREE Manfrotto Essential Shoulder Bag Medium with 
                    a(href='https://www.parkcameras.com/search/go?w=Manfrotto%20Summer%20Essentials%206', title='Manfrotto Summer Essentials') 290 Tripod or Kit
                    |.
                  p
                    small Promotion valid 24/06/18 - 09/09/18

            // -----------------GITZO----------------- //

            //- hr
            
            //- .pc-wrapper.pc-column.pc-col1
            //-   h2#gitzo Gitzo Tripod Offers &amp; Deals
            //- .pc-wrapper.pc-row
            //-   .pc-column.pc-col8
            //-     img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/gitzo-offers-logo.png', alt='Gitzo Brand Logo')
            //-   .pc-column.pc-col2
            //-     p All current cashback, deals, and discounts on Gitzo tripods and tripod accessories are shown here when they're running. You'll also find specific offers on individual product pages.
  
            // -----------------NIKON----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#nikon Nikon Cashback Offers &amp; Discounts
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/nikon-offers-logo.png', alt='Nikon Brand Logo')
              .pc-column.pc-col2
                p All current Nikon promotions, cashback offers, discounts, and deals on cameras, lenses, and accessories will appear here when they're available. You'll find specific offers on the individual product pages.
                p(style='font-weight: 700;') Learn more about Nikon promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://nikonpromotions.co.uk/', target='_blank', title='Nikon Promotions') visiting their promotions page
                  |.
                  
                .pc-promoBanner(data-start-date='2018-06-15' data-end-date='2018-08-31')
                  h2 Nikon Cashback
                  p Claim up to &pound;275 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/nikon-cashback', title='Nikon Cashback') selected Nikon products
                    |.
                  p
                    small Promotion valid 15/06/18 - 31/08/18


                    
            // -----------------OLYMPUS----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#olympus Olympus Offers &amp; Cashback Promotions
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/olympus-offers-logo.png', alt='Olympus Brand Logo')
              .pc-column.pc-col2
                p All the latest cashback promotions, deals and offers on Olympus compact cameras, lenses, micro four thirds, and photographic accessories will be displayed here when they're running, with individual offers also shown on specific product pages.
                p(style='font-weight: 700;') Learn more about Olympus promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://olympusuk.sales-promotions.com/', target='_blank' title='Olympus Promotions') visiting their promotions page
                  |.
                  
                .pc-promoBanner(data-start-date='2018-05-01' data-end-date='2018-07-31')
                  h2 Olympus Cashback
                  p Claim up to &pound;175 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/olympus-cashback', title='Olympus Cashback') selected Olympus products
                    |.
                  p
                    small Promotion valid 01/05/18 - 31/07/18
                  
                .pc-promoBanner(data-start-date='2018-06-01' data-end-date='2018-08-31')
                  h2 Olympus OM-D E-M1 Mark II
                  p Receive a FREE 
                    a(href='https://www.parkcameras.com/p/4153435J', title='Olympus HLD-9 Power Battery Grip') HLD-9 Power Battery Grip
                    | 
                    | worth &pound;279 when you purchase an 
                    a(href='https://www.parkcameras.com/search/go?w=Olympus%20OM-D%20E-M1%20Mark%20II', title='Olympus OM-D E-M1 Mark II') Olympus OM-D E-M1 Mark II Body or Kit
                    |.
                  p
                    small Promotion valid 01/06/17 - 31/08/18

                .pc-promoBanner(data-start-date='2018-05-20' data-end-date='2018-08-31')
                  h2 Olympus OM-D E-M1 II Trade-In Bonus
                  p Receive &pound;100 cashback when you trade-in your old camera for the 
                    a(href='https://www.parkcameras.com/search/go?w=Olympus%20OM-D%20E-M1%20Mark%20II', title='Olympus OM-D E-M1 Mark II') Olympus OM-D E-M1 Mark II Body or Kit
                    |.
                  p
                    small Promotion valid 20/05/17 - 31/08/18

                .pc-promoBanner(data-start-date='2018-06-06' data-end-date='2018-08-31')
                  h2 Olympus OM-D E-M1 Mark II
                  p Receive a FREE Exclusive Leather Camera Outfit worth &pound;49.99 when you purchase an 
                    a(href='https://www.parkcameras.com/search/go?w=E-PL9', title='Olympus PEN E-PL9') Olympus PEN E-PL9 Body or Kit
                    |.
                  p
                    small Promotion valid 06/06/17 - 31/08/18

                .pc-promoBanner(data-start-date='2018-06-06' data-end-date='2018-08-31')
                  h2 Olympus PEN E-PL9
                  p Claim a FREE Exclusive Leather Camera Outfit worth &pound;49.99 when you purchase an 
                    a(href='https://www.parkcameras.com/search/go?w=E-PL9', title='Olympus PEN E-PL9') Olympus PEN E-PL9 Body or Kit
                    |.
                  p
                    a(href='https://bit.ly/2xTYidD', title='More information', target='_blank') Learn more
                  p
                    small Promotion valid 06/06/17 - 31/08/18
                    
            // -----------------PANASONIC----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#panasonic Panasonic Cashback Offers &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/panasonic-offers-logo.png', alt='Panasonic Brand Logo')
              .pc-column.pc-col2
                p The latest Panasonic cashback promotions, deals, discounts and offers on cameras, lenses, video cameras, micro four thirds cameras, and accessories are shown here when they're available, while offers are also shown on the specific product pages.
                p(style='font-weight: 700;') Learn more about Panasonic promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://promotions.panasonic.co.uk/', target='_blank', title='Panasonic Promotions') visiting their promotions page
                  |.

                .pc-promoBanner(data-start-date='2018-07-11' data-end-date='2018-09-10')
                  h2 Panasonic Cashback
                  p Claim up to &pound;300 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/panasonic-cashback', title='Panasonic Cashback') selected Panasonic cameras and camcorders
                    |.
                  p
                    small Promotion valid 11/07/18 - 10/09/18

                .pc-promoBanner(data-start-date='2018-05-23' data-end-date='2018-09-10')
                  h2 Panasonic Lumix G80 Trade-In Bonus
                  p Get &pound;100 trade-in bonus when you trade in any working interchangeable lens camera for a 
                    a(href='https://www.parkcameras.com/p/P016239M', title='Panasonic Lumix G80') Panasonic Lumix G80 + 12-60mm Lens Kit
                    |.
                  p
                    small Promotion valid 23/05/18 - 10/09/18

            // -----------------PENTAX----------------- //
                    
              hr

            .pc-wrapper.pc-column.pc-col1
              h2#pentax Pentax Cashback Promotions &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/pentax-offers-logo.png', alt='Pentax Brand Logo')
              .pc-column.pc-col2
                p Offers, deals, discounts, and cashback promotions on Pentax digital SLR cameras, medium format cameras, lenses, and photographic accessories will be displayed here when they're running, with offers also shown on individual product pagses.
                
                .pc-promoBanner(data-start-date='2018-06-01' data-end-date='2018-08-31')
                  h2 Pentax Savings
                  p Save up to &pound;225 on 
                    a(href='https://www.parkcameras.com/search/go?w=Pentax+Vouchers', title='Pentax Vouchers') Selected Pentax Cameras and Lenses
                    | 
                    | when you use our voucher code at checkout.
                  p
                    small Promotion valid 01/06/18 - 31/08/18
                    
            // -----------------SONY----------------- //
                    
            hr

            .pc-wrapper.pc-column.pc-col1
              h2#sony Sony Deals &amp; Cashback Offers
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/sony-offers-logo.png', alt='Sony Brand Logo')
              .pc-column.pc-col2
                p Current Sony cashback deals, offers, discounts and promotions on digital SLR cameras, compact camers, action cameras, Alpha mirrorless cameras, lenses, and accessories will be shown here when they're running, while individual offers will also be shown on specific product pages.
                p(style='font-weight: 700;') Learn more about Sony promotions including how to claim cashback and T&amp;C's by 
                  a(href='https://www.sony.co.uk/deals-offers', target='_blank', title='Sony Promotions') visiting their promotions page
                  |. 
                  
                .pc-promoBanner(data-start-date='2018-05-02' data-end-date='2018-09-02')
                  h2 Sony Cashback
                  p Claim up to &pound;800 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/sony-cashback', title='Sony Cashback') selected Sony products
                    |.
                  p
                    small Promotion valid 02/05/18 - 02/09/18
                  
                .pc-promoBanner(data-start-date='2018-06-19' data-end-date='2018-07-31')
                  h2 Sony Full Frame Bodies
                  p Receive a FREE 
                    a(href='https://www.parkcameras.com/p/D358649B', title='Rotolight Neo II LED Light and HSS Flash') Rotolight Neo II LED Light and HSS Flash
                    | 
                    | worth &pound;299.00 when you purchase 
                    a(href='https://www.parkcameras.com/search/go?w=Free%20Rotolight%20Neo%20II', title='Olympus OM-D E-M10 Mark III') selected Sony Full Frame bodies
                    |.
                  p
                    small Promotion valid 19/06/18 - 31/07/18

                .pc-promoBanner(data-start-date='2018-05-02' data-end-date='2018-07-31')
                  h2 Sony a9
                  p Get &pound;400 trade-in bonus when you trade in any working interchangeable lens camera for the 
                    a(href='https://www.parkcameras.com/p/7014843K', title='Sony a9') Sony a9
                    |.
                  p
                    small Promotion valid 02/05/18 - 31/07/18  

            include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
