- var title = 'Promotional Offers & Discounts'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
            .pc-wrapper.pc-column.pc-col1
                h1 #{title}
            
            hr

            
            .pc-wrapper.pc-column.pc-col1
              p We regularly have promotions and offers available at Park Cameras, including deals, cashback, free gifts, discounts, trade-in bonus offers, and seasonal sales such as Spring Sale, Summer Sale, Autumn Sale, Winter Sale, January Sales, Boxing Day Sales, and of course our very best Black Friday Deals on cameras, lenses, photographic accessories, lighting, tripods, camera bags, printers &amp; much more.
              p On this page you'll find all the current Park Cameras promotions and deals available from a wide range of the leading brands, as well as details on how to claim your cashback and where to find the best deals.
              p Keep up to date with the latest discount codes and coupon offers from Park Cameras by 
                a(href='https://www.parkcameras.com/newsletter-signup-full') signing up to our mailing list
                |.
            
            
            // -----------------CANON----------------- //
            
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#canon Canon Cashback &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/Canon-offers-logo.png', alt='Canon Brand Logo')
              .pc-column.pc-col2
                p Cashback, promotional offers, and discounts from Canon on DSLR cameras, lenses, mirrorless cameras, and accessories will be shown here when they are running. Individual offers and promotions are also shown on specific product pages.
                
                .pc-promoBanner(data-start-date='2017-10-18' data-end-date='2018-01-17')
                  h2 Canon Cashback
                  p Claim up to &pound;215 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/canon-cashback', title='Canon Cashback') selected Canon products
                    |.
                  p
                    small Promotion valid 18/10/17 - 17/01/18
                    
                .pc-promoBanner(data-start-date='2017-10-27' data-end-date='2018-01-01')
                  h2 Canon L-Series Lenses
                  p Spread the cost of 
                    a(href='https://www.parkcameras.com/canon-l-series-lenses', title='Canon L-Series Lenses') Canon L-Series Lenses
                    | 
                    | with 24 months interest-free credit*.
                  p
                    small Promotion valid 27/10/17 - 01/01/18
                  p
                    small *Minimum 10% deposit, 0% APR.
                    
                .pc-promoBanner(data-start-date='2017-10-26' data-end-date='2017-12-31')
                  h2 Canon EOS-1D X Mark II
                  p Spread the cost of the 
                    a(href='https://www.parkcameras.com/p/1010029H', title='Canon EOS-1D X Mark II') Canon EOS-1D X Mark II
                    | 
                    | with 24 months interest-free credit*.
                  p
                    small Promotion valid 26/10/17 - 31/12/17
                  p
                    small *Minimum 10% deposit, 0% APR.
                    
                .pc-promoBanner(data-start-date='2017-10-26' data-end-date='2017-12-31')
                  h2 Canon EOS 5DS &amp; 5DS R
                  p Receive a FREE 
                    a(href='https://www.parkcameras.com/p/1150085F', title='Canon BG-E11 Battery Grip') BG-E11 Battery Grip
                    | 
                    | and an
                    a(href='https://www.parkcameras.com/p/1090107M', title='Canon LP-E6N Lithium-Ion Rechargeable Battery') LP-E6N Lithium-Ion Rechargeable Battery
                    | 
                    | when you purchase the 
                    a(href='https://www.parkcameras.com/search/go?w=canon%20eos%205ds&af=cat1:digitalcameras', title='Canon EOS 5DS and 5DS R') Canon EOS 5DS or 5DS R
                    |.
                  p
                    small Promotion valid 26/10/17 - 31/12/17
                    
                .pc-promoBanner(data-start-date='2017-11-01' data-end-date='2017-12-31')
                  h2 Canon Free Gifts
                  p Receive FREE gifts worth over &pound;200 when you purchase 
                  p
                    a(href='https://www.parkcameras.com/search/go?w=Canon+Free+Gifts', title='Canon Free Gifts') selected Canon products
                    |.
                  p
                    small Promotion valid 01/11/17 - 31/12/17
                    
                    
            // -----------------FUJIFILM----------------- //
                    
            hr

            .pc-wrapper.pc-column.pc-col1
              h2#fujifilm Fujifilm Trade-In Deals, Cashback &amp; Discounts
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/Fujifilm-offers-logo.png', alt='Fujifilm Brand Logo')
              .pc-column.pc-col2
                p Here you'll find the latest cashback deals, promotional offers, and cashback from Fujifilm on their extensive range of mirrorless cameras, premium compact cameras, lenses, and photographic accessories. Also check out individual product pages for specific offers.
                
                .pc-promoBanner(data-start-date='2017-10-12' data-end-date='2018-01-15')
                  h2 Fujifilm Cashback
                  p Claim up to &pound;190 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/fujifilm-cashback', title='Fujifilm Cashback') selected Fujifilm products
                    |.
                  p
                    small Promotion valid 12/10/17 - 15/01/18
                
                .pc-promoBanner(data-start-date='2017-10-02' data-end-date='2018-01-15')
                  h2 Fujifilm GFX 50s
                  p Save &pound;1200 when you purchase the 
                    a(href='https://www.parkcameras.com/p/2015555B', title='Fujifilm GFX 50s Body') Fujifilm GFX 50s
                    | 
                    | with 
                    a(href='https://www.parkcameras.com/c/2650', title='Fujinon G Mount Lenses') Fujinon G Mount Lenses
                    |.
                  p
                    small Promotion valid 02/10/17 - 15/01/18
                    
                .pc-promoBanner(data-start-date='2017-10-02' data-end-date='2018-01-15')
                  h2 Fujinon GF Lenses
                  p Save up to &pound;550 on 
                    a(href='https://www.parkcameras.com/c/2650', title='Fujinon GF Lenses') Fujinon GF lenses
                    | 
                    | when you use selected voucher codes. View products for more information.
                  p
                    small Promotion valid 02/10/17 - 15/01/18
                    
                .pc-promoBanner(data-start-date='2017-10-02' data-end-date='2018-01-04')
                  h2 Fujifilm X-Pro2
                  p Receive a FREE 
                    a(href='https://www.parkcameras.com/p/2110145E', title='BLC-XPRO2 Black Leather Half Case') BLC-XPRO2 Black Leather Half Case
                    | 
                    | when bought with the 
                    a(href='https://www.parkcameras.com/p/2011622R/', title='Fujifilm X-Pro2') Fujifilm X-Pro2
                    |. 
                  p
                    small Promotion valid 02/10/17 - 04/01/18

                    
            // -----------------GITZO----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#gitzo Gitzo Tripod Offers &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/gitzo-offers-logo.png', alt='Gitzo Brand Logo')
              .pc-column.pc-col2
                p All current cashback, deals, and discounts on Gitzo tripods and tripod accessories are shown here when thye're running. You'll also find specific offers on individual product pages.

                .pc-promoBanner(data-start-date='2017-03-18' data-end-date='2017-12-31')
                  h2 Gitzo Systematic Tripods
                  p Claim a FREE Limited Edition Colin Prior Book when you purchase 
                    a(href='https://www.parkcameras.com/search/go?w=Gitzo%20Systematic%20Tripod', title='Gitzo Systematic Tripods') Gitzo Systematic Tripods
                    |.
                  p 
                    small 
                      a(href='https://www.manfrotto.co.uk/special-offers/free-limited-edition-colin-prior-book', title='Gitzo Colin Prior Book Promotion Terms and Conditions') How To Claim Your FREE Gift | Terms &amp; Conditions
                  p
                    small Promotion valid 18/03/17 - 31/12/17
                    
            // -----------------NIKON----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#nikon Nikon Cashback Offers &amp; Discounts
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/nikon-offers-logo.png', alt='Nikon Brand Logo')
              .pc-column.pc-col2
                p All current Nikon promotions, cashback offers, discounts, and deals on cameras, lenses, and accessories will appear here when they're available. You'll find specific offers on the individual product pages.
                
                .pc-promoBanner(data-start-date='2017-10-11' data-end-date='2018-01-09')
                  h2 Nikon Cashback
                  p Claim up to &pound;140 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/nikon-cashback', title='Nikon Cashback') selected Nikon products
                    |.
                  p
                    small Promotion valid 11/10/17 - 09/01/18

                .pc-promoBanner(data-start-date='2017-10-02' data-end-date='2017-12-31')
                  h2 Nikon D3400
                  p Save &pound;50 on a 
                    a(href='https://www.parkcameras.com/search/go?w=Nikon+D3400+Kit', title='Nikon D3400 Kit') Nikon D3400 Kit
                    | 
                    | when you use the voucher code 
                    strong D3400-50-OFF
                    | 
                    | at checkout.
                  p
                    small Promotion valid 02/10/17 - 31/12/17
                    
                .pc-promoBanner(data-start-date='2017-10-05' data-end-date='2017-11-22')
                  h2 Nikon D500
                  p Receive &pound;150 trade-in bonus on the 
                    a(href='https://www.parkcameras.com/search/go?w=nikon%20d500&af=cat1:digitalcameras', title='Nikon D500') Nikon D500
                    | 
                    | when you trade in your old digital interchangeable lens camera.
                  p
                    small Promotion valid 05/10/17 - 22/11/17
                    
                .pc-promoBanner(data-start-date='2017-11-01' data-end-date='2017-11-30')
                  h2 Nikon Df
                  p Receive &pound;200 trade-in bonus on the
                    a(href='https://www.parkcameras.com/search/go?w=nikon%20df&af=cat1:digitalcameras', title='Nikon Df') Nikon Df
                    | 
                    | when you trade in your old digital interchangeable lens camera.
                  p
                    small Promotion valid 01/11/17 - 30/11/17
                    
                .pc-promoBanner(data-start-date='2017-10-16' data-end-date='2017-11-22')
                  h2 Nikon D750
                  p Save &pound;150 on a 
                    a(href='https://www.parkcameras.com/search/go?w=Nikon%20D750', title='Nikon D750 Body and Kit') Nikon D750 Body or Kit
                    | 
                    | when you use the voucher code 
                    strong D750-150-OFF
                    | 
                    | at checkout.
                  p
                    small Promotion valid 16/10/17 - 22/11/17

                .pc-promoBanner(data-start-date='2017-10-05' data-end-date='2017-11-22')
                  h2 Nikon D7200
                  p Receive a FREE 
                    a(a href='https://www.parkcameras.com/p/3090239K', title='Nikon EN-EL15a Lithium Ion Rechargeable Battery') Nikon EN-EL15a Lithium Ion Rechargeable Battery
                    | 
                    | and a 
                    a(a href='https://www.parkcameras.com/p/9060938E', title='SanDisk Extreme PRO 64GB SDXC') SanDisk Extreme PRO 64GB SDXC
                    | 
                    | when you purchase a 
                    a(a href='https://www.parkcameras.com/search/go?w=Nikon%20D7200', title='Nikon D7200') Nikon D7200 body or kit
                    | 
                    | .
                  p 
                    small Promotion valid 05/10/17 - 22/11/17
                    
            // -----------------OLYMPUS----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#olympus Olympus Offers &amp; Cashback Promotions
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/olympus-offers-logo.png', alt='Olympus Brand Logo')
              .pc-column.pc-col2
                p All the latest cashback promotions, deals and offers on Olympus compact cameras, lenses, micro four thirds, and photographic accessories will be displayed here when they're running, with individual offers also shown on specific product pages.
                
                .pc-promoBanner(data-start-date='2017-11-01' data-end-date='2018-01-15')
                  h2 Olympus Cashback
                  p Claim up to &pound;200 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/olympus-cashback', title='Olympus Cashback') selected Olympus products
                    |.
                  p
                    small Promotion valid 01/11/17 - 15/01/18                
                    
                .pc-promoBanner(data-start-date='2017-10-01' data-end-date='2017-12-31')
                  h2 Olympus OM-D E-M10 Mark II
                  p Receive a FREE 
                    a(href='https://www.parkcameras.com/p/4110286W', title='Olympus OM-D Mini Messenger Bag') Olympus OM-D Mini Messenger Bag
                    | 
                    | when you purchase an 
                    a(href='https://www.parkcameras.com/search/go?w=Olympus+OM-D+E-M10+Mark+II', title='Olympus OM-D E-M10 Mark II Body and Kits') Olympus OM-D E-M10 Mark II
                    |.
                  p
                    small Promotion valid 01/10/17 - 31/12/17
                    
            // -----------------PANASONIC----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2#panasonic Panasonic Cashback Offers &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/panasonic-offers-logo.png', alt='Panasonic Brand Logo')
              .pc-column.pc-col2
                p The latest Panasonic cashback promotions, deals, discounts and offers on cameras, lenses, video cameras, micro four thirds cameras, and accessories are shown here when they're available, while offers are also shown on the specific product pages.

                .pc-promoBanner(data-start-date='2017-09-05' data-end-date='2018-01-30')
                  h2 Panasonic Trade-In Bonus
                  p Receive up to &pound;200 trade-in bonus on  
                    a(href='https://www.parkcameras.com/search/go?w=Panasonic+Trade-In+Bonus', title='Panasonic Cameras Eligible for Trade-In Bonus') selected Panasonic cameras
                    | 
                    | when you trade in your old digital interchangeable lens camera.
                  p
                    small Promotion valid 05/09/17 - 30/01/18
                    
                .pc-promoBanner(data-start-date='2017-10-25' data-end-date='2018-01-30')
                  h2 Panasonic Cashback
                  p Claim up to &pound;100 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/panasonic-cashback', title='Sony Cashback') selected Panasonic products
                    |.
                  p
                    small Promotion valid 25/10/17 - 30/01/18
                    
                .pc-promoBanner(data-start-date='2017-09-05' data-end-date='2018-01-30')
                  h2 Panasonic Lumix G 25mm f/1.7
                  p Purchase any 
                    a(href='https://www.parkcameras.com/bc/76-1602/panasonic/mirrorless-cameras', title='Panasonic Lumix G-Series Cameras') Panasonic Lumix G-Series Camera
                    | 
                    | with the 
                    a(href='https://www.parkcameras.com/search/go?w=Panasonic%20Lumix%20G%2025mm%20f%2F1.7%20Asph', title='Lumix G 25mm f/1.7 Aspherical Lens') Lumix G 25mm f/1.7 Asph.
                    | 
                    | and save &pound;50.
                  p
                    small Promotion valid 05/09/17 - 30/01/18
                    
            // -----------------PENTAX----------------- //
                    
              hr

            .pc-wrapper.pc-column.pc-col1
              h2#pentax Pentax Cashback Promotions &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/pentax-offers-logo.png', alt='Pentax Brand Logo')
              .pc-column.pc-col2
                p Offers, deals, discounts, and cashback promotions on Pentax digital SLR cameras, medium format cameras, lenses, and photographic accessories will be displayed here when they're running, with offers also shown on individual product pagses.
                
                .pc-promoBanner(data-start-date='2017-11-01' data-end-date='2018-01-15')
                  h2 Pentax Instant Cashback
                  p Save up to &pound;250 on 
                    a(href='https://www.parkcameras.com/search/go?w=Pentax%20Instant%20Cashback', title='Pentax Instant Cashback on Selected Cameras and Lenses') selected Pentax cameras and lenses
                    |.
                  p
                    small Promotion valid 01/11/17 - 15/01/18
                    
                .pc-promoBanner(data-start-date='2017-11-01' data-end-date='2018-01-15')
                  h2 Pentax K-70
                  p Receive a FREE 
                    a(href='https://www.parkcameras.com/p/5241067C', title='Pentax SMC DA 50mm f/1.8') Pentax SMC DA 50mm f/1.8
                    | 
                    | when you purchase a 
                    a(href='https://www.parkcameras.com/search/go?w=pentax%20k-70&af=cat1:digitalcameras', title='Pentax K-70') Pentax K-70 Body or Kit
                    |.
                  p
                    small Promotion valid 01/11/17 - 15/01/18

                    
            // -----------------SONY----------------- //
                    
            hr

            .pc-wrapper.pc-column.pc-col1
              h2#sony Sony Deals &amp; Cashback Offers
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/sony-offers-logo.png', alt='Sony Brand Logo')
              .pc-column.pc-col2
                p Current Sony cashback deals, offers, discounts and promotions on digital SLR cameras, compact camers, action cameras, Alpha mirrorless cameras, lenses, and accessories will be shown here when they're running, while individual offers will also be shown on specific product pages.
                
                .pc-promoBanner(data-start-date='2017-10-18' data-end-date='2018-01-21')
                  h2 Sony Cashback
                  p Claim up to &pound;800 cashback when you purchase 
                    a(href='https://www.parkcameras.com/lp/sony-cashback', title='Sony Cashback') selected Sony products
                    |.
                  p
                    small Promotion valid 18/10/17 - 21/01/18
                
                .pc-promoBanner(data-start-date='2017-10-01' data-end-date='2017-12-31')
                  h2 Sony a9
                  p
                    | Receive &pound;500 trade-in bonus on the 
                    a(href='https://www.parkcameras.com/p/7014843K', title='Sony a9') Sony a9
                    | 
                    | when you trade in selected cameras*.
                  p
                    small Promotion valid 01/10/17 - 31/12/17
                  p
                    small *Canon EOS-1DX, Canon EOS-1DX Mark II, Canon EOS 5D Mark III, Canon EOS 5D Mark IV, Nikon D5, Nikon D4, Nikon D810, Nikon D800 or Nikon D750
            

            include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
