- var title = 'Park Cameras Promotional Offers & Discounts'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
            .pc-wrapper.pc-column.pc-col1
                h1 #{title}
            
            hr

            
            .pc-wrapper.pc-column.pc-col1
              p We regularly have promotions and offers available at Park Cameras, including deals, cashback, free gifts, discounts, trade-in bonus offers, and seasonal sales such as Spring Sale, Summer Sale, Autumn Sale, Winter Sale, January Sales, Boxing Day Sales, and of course our very best Black Friday Deals on cameras, lenses, photographic accessories, lighting, tripods, camera bags, printers &amp; much more.
              p On this page you'll find all the current Park Cameras promotions and deals available from a wide range of the leading brands, as well as details on how to claim your cashback and where to find the best deals.
              p Keep up to date with the latest discount codes and coupon offers from Park Cameras by 
                a(href='https://www.parkcameras.com/newsletter-signup-full') signing up to our mailing list
                |.
            
            
            // -----------------CANON----------------- //
            
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2 Canon Cashback &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/Canon-offers-logo.png')
              .pc-column.pc-col2
                p Cashback, promotional offers, and discounts from Canon on DSLR cameras, lenses, mirrorless cameras, and accessories will be shown here when they are running. Individual offers and promotions are also shown on specific product pages.

                .pc-promoBanner
                  h2 Canon Autumn Cashback
                  p Claim up to &pound;250 cashback on 
                    a(href='https://www.parkcameras.com/lp/canon-cashback') selected Canon products
                    |.
                  p 
                    small 
                      a(href='https://www.canon.co.uk/cashback/current-cashback/', target='_blank') How To Claim Your Cashback
                      | 
                      || 
                      a(href='https://www.canon.co.uk/cashback/current-cashback/terms-and-conditions/', target='_blank') Terms &amp; Conditions
                  p
                    small Promotion valid 01/09/17 - 17/10/17
                    
                    
            // -----------------FUJIFILM----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2 Fujifilm Trade-In Deals, Cashback & Discounts
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/Fujifilm-offers-logo.png')
              .pc-column.pc-col2
                p Here you'll find the latest cashback deals, promotional offers, and cashback from Fujifilm on their extensive range of mirrorless cameras, premium compact cameras, lenses, and photographic accessories. Also check out individual product pages for specific offers.

                .pc-promoBanner
                  h2 Fujifilm Trade-In Bonus
                  p Claim up to &pound;500 trade-in bonus on  
                    a(href='https://www.parkcameras.com/search/go?w=Fujifilm+Trade-In+Bonus') selected Fujifilm cameras
                    | 
                    | when you trade in your old digital interchangeable lens camera.
                  p 
                    small 
                      a(href='https://promo.fuji-offers.com/gb/pages/tradein/home', target='_blank') How To Claim Your Trade-In Bonus
                      | 
                      || 
                      a(href='https://promo.fuji-offers.com/gb/en/pages/tradein/terms', target='_blank') Terms &amp; Conditions
                  p
                    small Promotion valid 01/08/17 - 30/09/17
                    
            // -----------------GITZO----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2 Gitzo Tripod Offers &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/gitzo-offers-logo.png')
              .pc-column.pc-col2
                p All current cashback, deals, and discounts on Gitzo tripods and tripod accessories are shown here when thye're running. You'll also find specific offers on individual product pages.

                .pc-promoBanner
                  h2 Gitzo Systematic Tripods
                  p Claim a FREE Limited Edition Colin Prior Book when you purchase 
                    a(href='https://www.parkcameras.com/search/go?w=Gitzo%20Systematic%20Tripod') Gitzo Systematic Tripods
                    |.
                  p 
                    small 
                      a(href='https://www.manfrotto.co.uk/special-offers/free-limited-edition-colin-prior-book', target='_blank') How To Claim Your FREE Gift | Terms &amp; Conditions
                  p
                    small Promotion valid 18/03/17 - 31/12/17
                    
            // -----------------NIKON----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2 Nikon Cashback Offers &amp; Discounts
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/nikon-offers-logo.png')
              .pc-column.pc-col2
                p All current Nikon promotions, cashback offers, discounts, and deals on cameras, lenses, and accessories will appear here when they're available. You'll find specific offers on the individual product pages.

                .pc-promoBanner
                  h2 Nikon D500
                  p Save &pound;150 on 
                    a(href='https://www.parkcameras.com/c/4621/nikon-lenses-f-mount') Nikon F-Mount lenses
                    | 
                    | when bought with the 
                    a(href='https://www.parkcameras.com/search/go?w=Nikon%20D500') Nikon D500
                    |.
                  p
                    small Promotion valid 01/09/17 - 30/09/17

                .pc-promoBanner
                  h2 Nikon Trade-In Bonus
                  p Receive up to &pound;200 trade-in bonus on  
                    a(href='https://www.parkcameras.com/search/go?w=Nikon%20Trade-In%20Bonus') selected Nikon cameras
                    | 
                    | when you trade in your old digital interchangeable lens camera.
                  p
                    small Promotion valid 01/09/17 - 30/09/17
                    
            // -----------------OLYMPUS----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2 Olympus Offers &amp; Cashback Promotions
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/olympus-offers-logo.png')
              .pc-column.pc-col2
                p All the latest cashback promotions, deals and offers on Olympus compact cameras, lenses, micro four thirds, and photographic accessories will be displayed here when they're running, with individual offers also shown on specific product pages.

                .pc-promoBanner
                  h2 Olympus OM-D E-M1 Mark II
                  p Save &pound;100 on 
                    a(href='https://www.parkcameras.com/search/go?w=Olympus+PRO+Lenses') Olympus PRO Lenses
                    | 
                    | &amp; 
                    a(href='https://www.parkcameras.com/p/4153435J') HLD-9 Power Battery Grip
                    | 
                    | when bought with the 
                    a(href='https://www.parkcameras.com/search/go?w=Olympus+OM-D+E-M1+Mark+II') Olympus OM-D E-M1 Mark II
                    |.
                  p
                    small Promotion valid 01/08/17 - 30/09/17
                    
                .pc-promoBanner
                  h2 Olympus PEN-F
                  p Claim a FREE 
                    a(href='https://www.parkcameras.com/search/go?w=Olympus%2025mm%20f%2F1.8%20-%20Lens') Olympus M.Zuiko 25mm f/1.8 lens
                    | 
                    | when bought with a 
                    a(href='https://www.parkcameras.com/search/go?w=Olympus%20PEN-F') PEN-F Body or Kit
                    |.
                  p 
                    small 
                      a(href='https://olympus-pen-f-promotion.sales-promotions.com/customer-apply-for-promotion/?country_promotion=2&lng=en_gb', target='_blank') How To Claim Your FREE Gift
                      | 
                      || 
                      a(href='https://olympus-pen-f-promotion.sales-promotions.com/en_gb/terms-and-conditions-promotion/?country_promotion=2', target='_blank') Terms &amp; Conditions
                  p
                    small Promotion valid 01/08/17 - 31/10/17
                    
            // -----------------PANASONIC----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2 Panasonic Cashback Offers &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/panasonic-offers-logo.png')
              .pc-column.pc-col2
                p The latest Panasonic cashback promotions, deals, discounts and offers on cameras, lenses, video cameras, micro four thirds cameras, and accessories are shown here when they're available, while offers are also shown on the specific product pages.

                .pc-promoBanner
                  h2 Panasonic Trade-In Bonus
                  p Receive up to &pound;200 trade-in bonus on  
                    a(href='https://www.parkcameras.com/search/go?w=Panasonic+Trade-In+Bonus') selected Panasonic cameras
                    | 
                    | when you trade in your old digital interchangeable lens camera.
                  p
                    small Promotion valid 05/09/17 - 24/10/17
                    
                .pc-promoBanner
                  h2 Panasonic FREE Gifts
                  p Purchase  
                    a(href='https://www.parkcameras.com/search/go?w=Panasonic%20Bundle') selected Panasonic cameras
                    | 
                    | and receive a FREE 
                    a(href='https://www.parkcameras.com/p/9361789J') Lowepro Adventura 110 II Shoulder Bag
                    |, 
                    a(href='https://www.parkcameras.com/p/9374093') Hama Star 63 Tripod with Case
                    | 
                    | and a 
                    a(href='https://www.parkcameras.com/p/8062239K') Lexar 32GB SD Memory Card
                    | 
                    | worth over &pound;70.
                  p
                    small Promotion valid 05/09/17 - 24/10/17
                    
                .pc-promoBanner
                  h2 Panasonic Lumix G 25mm f/1.7
                  p Purchase any 
                    a(href='https://www.parkcameras.com/bc/76-1602/panasonic/mirrorless-cameras') Panasonic Lumix G-Series Camera
                    | 
                    | with the 
                    a(href='https://www.parkcameras.com/search/go?w=Panasonic%20Lumix%20G%2025mm%20f%2F1.7%20Asph') Lumix G 25mm f/1.7 Asph.
                    | 
                    | and save &pound;50.
                  p
                    small Promotion valid 05/09/17 - 24/10/17
                    
            // -----------------PENTAX----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2 Pentax Cashback Promotions &amp; Deals
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/pentax-offers-logo.png')
              .pc-column.pc-col2
                p Offers, deals, discounts, and cashback promotions on Pentax digital SLR cameras, medium format cameras, lenses, and photographic accessories will be displayed here when they're running, with offers also shown on individual product pagses.

                .pc-promoBanner
                  h2 Pentax 645 Lenses
                  p Save up to &pound;750 on 
                    a(href='https://www.parkcameras.com/c/4634/645-lenses') Pentax 645 Lenses
                    | 
                    | when you use our voucher codes. 
                    a(href='https://www.parkcameras.com/c/4634/645-lenses') View products
                    | 
                    | for more information.
                  p
                    small Promotion valid 01/08/17 - 30/09/17
                    
            // -----------------SONY----------------- //
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2 Sony Deals &amp; Cashback Offers
            .pc-wrapper.pc-row
              .pc-column.pc-col8
                img.pc-brandImg(src='https://content.parkcameras.com/5/1/images/site_images/sony-offers-logo.png')
              .pc-column.pc-col2
                p Current Sony cashback deals, offers, discounts and promotions on digital SLR cameras, compact camers, action cameras, Alpha mirrorless cameras, lenses, and accessories will be shown here when they're running, while individual offers will also be shown on specific product pages.

                .pc-promoBanner
                  h2 Sony Trade-In Bonus
                  p Receive &pound;250 trade-in bonus on the 
                    a(href='https://www.parkcameras.com/p/7014842K') Sony a7S II
                    | 
                    | &amp; 
                    a(href='https://www.parkcameras.com/search/go?w=Sony%20a7R%20II') Sony a7R II
                    | 
                    | when you trade in your old digital interchangeable lens camera.
                  p
                    small Promotion valid 01/08/17 - 30/09/17
            

            include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
