extends template.pug


block vars
  - var title = 'Park Cameras Feedback';


block content
  .pc-wrapper.pc-column.pc-col1
    h2 Thank you very much for your feedback!
  

block bottomScripts
  script(src='js/swipebox.js')