- var title = 'Park Cameras School of Photography'

doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/breadcrumbs.pug

    // START
    .pc-mainWrapper
      h1 #{title}
      hr
      img(alt='Park Cameras School of Photography Logo', src='http://content.parkcameras.com/5/1/images/landing_pages/SOP-Logo-LG.jpg', style='max-width: 50vw;')
      .pc-wrapper.pc-column.pc-col1
          p Since 2008 Park Cameras has been providing photo enthusiasts across the country with unrivalled training options across a broad and diverse range of photographic genres and disciplines. Throughout this time our aim has been to provide interactive, intuitive and aspirational courses, workshops and seminars, beneficial to the demanding requirements of all photographers, regardless of ability or interest.
          
          p As the world of digital photography continues to expand, so does our course offering, providing an unprecedented number of courses across key imaging and software brands in our state of the art Education Suite in Sussex. Consisting of classroom, seminar and studio learning facilities, we are confident that we are able to provide the ideal environment within which photo enthusiasts can embrace their passion for photography in order to take it to the next level. Courses are now run in our London store. Today, we offer something to suit all tastes, with courses built around five key learning styles:
          
          p Day-long classroom-based learning - Professionally-led studio workshops - On location workshops - 1-2-1 training - Corporate training
          
          p Competitively priced and with the opportunity to save up to &pound;125 on associated products across many of our courses, we are confident that The Park Cameras School of Photography provides all photographers with the ideal opportunity to further their photographic horizons.
      hr
      h2 Our Courses
      .pc-wrapper.pc-row
        ul
          li
            a(href='#1') Technical Photography Courses
          li
            a(href='#2') Beginner Photography Courses
          li
            a(href='#3') Photography Techniques
          li
            a(href='#4') Photography Software Techniques
          li
            a(href='#5') One to One Photography Workshops
                                                                                //

      hr#1
      h2 Technical Photography Courses
      .pc-wrapper.pc-row
       
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Understanding-Your-Digital-SLR-1.jpg')
                h3 Understanding your Digital SLR Part 1
            p This course aims to explain how to use your Digital SLR camera by taking you through the various modes &amp; operations of the camera. It&rsquo;s suitable for novices/beginners who have just bought a DSLR.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Understanding-Your-Digital-SLR-2.jpg')
                h3 Understanding your Digital SLR Part 2
            p This second part of our popular Understanding Your DSLR course follows on from the basics with a workshop which is purely practical based and weather permitting, at two locations, these being:
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Understanding-Your-Canon-EOS-5D-Mark-IV.jpg')
                h3 Understanding your Canon EOS 5D Mk IV
            p
            a.pc-btn-sop(href='#',  target='_blank') Book Now
  
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')    
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Understanding-Your-Canon-EOS-7D-MarkII.jpg')
                h3 Understanding your Canon EOS 7D Mark II
            p The most comprehensive course of its kind in the UK, this course explains how to make the most of your Canon 7D Mark II, navigating the comprehensive menus and the camera&apos;s advanced features.
            a.pc-btn-sop(href='#',  target='_blank') Book Now

        .pc-column.pc-colSop3  
            a(href='#',  target='_blank')    
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Understanding-Your-Nikon-D500.jpg')
                h3 Understanding your Nikon D500
            p
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3  
            a(href='#',  target='_blank')    
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Understanding-Your-Olympus-OM-D-E-M1-Mark-II.jpg')
                h3 Understanding your Olympus OM-D E-M1 Mark II
            p
            a.pc-btn-sop(href='#',  target='_blank') Book Now
          
                                                                                //
          
      hr#2
      h2 Beginner Photography Courses
      .pc-wrapper.pc-row
      
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/First-Steps-In-Photography.jpg')
                h3 First Steps in Photography
            p For anyone who has an interest in photography but is needing guidance on getting to grips with the basics of composition, camera modes and coping with different light conditions.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Introduction-To-Studio-Photography.jpg')
                h3 Beginners Guide to Studio Photography
            p The perfect course to get to grips with studio photography basics for anyone interested in portrait photography using studio lighting.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Beginners-Guide-To-Sensor-Cleaning.jpg')
                h3 Beginner's Guide to Sensor Cleaning
            p
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Introduction-To-Macro-Photography.jpg')
                h3 Introduction to Macro Photography
            p The aim of the course is to demystify the subject of macro photography and to capture detailed macro images.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
                                                                                //

      hr#3
      h2 Photography Techniques
      .pc-wrapper.pc-row
      
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/The-Lighting-Studio.jpg')
                h3 'The Lighting Studio' Workshop - by John Clements
            p
            a.pc-btn-sop(href='#',  target='_blank') Book Now

        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Flashes-Of-Inspiration.jpg')
                h3 Canon &amp; Nikon 'Flashes of Inspiration' - by John Clements
            p During this easy to follow but information-packed workshop, professional photographer John Clements shares from the ground up, his respected insights and experience for maximising what your flash equipment can do.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3 
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Art-Nude.jpg')
                h3 'The Speedlight Studio' Art Nude Workshop - by John Clements
            p This exciting course shows step-by-step how to achieve top quality results with portable flash.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Metering-Exposure-Colour.jpg')
                h3 'Metering, Exposure &amp; Colour - Shoot it Like a Pro' Worshop - by John Clements
            p
            a.pc-btn-sop(href='#',  target='_blank') Book Now

                                                                                //

      hr#4
      h2 Photography Software Training
      .pc-wrapper.pc-row

        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Introduction-To-Adobe-Photoshop-Lightroom-1.jpg')
                h3 Introduction to Adobe Lightroom Part 1
            p To cover the use of Lightroom, the appropriate tools and associated workflow guaranteed to produce the best possible results from your digital images. Suitable for those who are thinking or have bought Lightroom and are looking for the most efficient workflow related to manipulating their digital images.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Introduction-To-Adobe-Photoshop-Lightroom-2.jpg')
                h3 Introduction to Adobe Lightroom Part 2
            p This course is the follow on from Part 1 and is intended to cover the remaining modules as in Map, Book, Print, Slideshow and Web. There will also be the opportunity to revisit the content from the first course, to cover any queries and discuss various methods of workflow.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Introduction-To-Adobe-Photoshop-Elements.jpg')
                h3 Introduction to Adobe Photoshop Elements 14
            p To cover the set up and use of Adobe latest version of Elements software to organise and edit Jpeg and RAW files.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Introduction-To-Adobe-Camera-Raw.jpg')
                h3 Introduction to using RAW
            p To introduce the use of the RAW recording format, the benefits of using RAW over the Jpeg and the software required to work with RAW.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/Ipad-For-Photographers.jpg')
                h3 iPad for Photographers
            p
            a.pc-btn-sop(href='#',  target='_blank') Book Now
                                                                  
                                                                                //

      hr#5
      h2 One to One Photography Workshops
      .pc-wrapper.pc-row
          
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/1-2-1-Training.jpg')
                h3 Personalized 1-2-1 Training
            p Benefit from our dedicated training environment and the 1-2-1 tutelage of our resident Training Manager, Anthony Sinfield, who brings with him a wealth of photographic knowledge across a broad range of subjects ensuring that you will gain the most out of your 1-2-1 training session.
            a.pc-btn-sop(href='#',  target='_blank') Book Now
            
        .pc-column.pc-colSop3
            a(href='#',  target='_blank')
                img(alt='', src='https://content.parkcameras.com/5/1/images/landing_pages/1-2-1-Training-D810.jpg')
                h3 Nikon D810 1-2-1 Training
            p To cover the use of the Nikon D800 / D800E/ D810 models with a view to ensuring users are able to maximize the potential of this class leading camera in terms of usage and performance.
            a.pc-btn-sop(href='#',  target='_blank') Book Now

    // FINISH
    
    include includes/bottomScripts.pug
