- var title = 'Sell or Part Exchange Your Camera'

doctype html
html(lang="en")
    include includes/head.pug
    head
      script(src='js/usedForm.js')

    body
        include includes/breadcrumbs.pug

        // START
        .pc-mainWrapper
            .pc-wrapper.pc-column.pc-col1
              h1 #{title}
              
            hr
            
            .pc-wrapper.pc-column.pc-col1
            
              h2 Sell your camera equipment in just 3 easy steps
              
            .pc-wrapper.pc-rowNoWrap
            
              .pc-column.pc-col3
                .pc-banner
                  img(src='http://cinemaflight.com/wp-content/uploads/2015/09/photo-icon-300x300.png' alt='alt text' style='max-width: 100px;')
                  h2 Step 1: Get a quote
                  p Simply complete the 
                    a(href='#quote' title='Quotation Form') form
                    | 
                    | below or pop into our showroom and talk to our friendly staff.
                    
              .pc-column.pc-col3
                .pc-banner
                  img(src='http://cinemaflight.com/wp-content/uploads/2015/09/photo-icon-300x300.png' alt='alt text' style='max-width: 100px;')
                  h2 Step 2: Post us your camera
                  p Having accepted the quotation, simply send your equipment to our 
                    a(href='https://www.parkcameras.com/contact-us' target='_blank') Burgess Hill store
                    | .
                    
              .pc-column.pc-col3
                .pc-banner
                  img(src='http://cinemaflight.com/wp-content/uploads/2015/09/photo-icon-300x300.png' alt='alt text' style='max-width: 100px;')
                  h2 Step 3: Receive your payment
                  p Once the equipment has been received, the payment shall be sent to you.    
            
            hr
            
            .pc-wrapper.pc-column.pc-col1.pc-quotationForm.pc-spacer-xl
              h2#quote Quotation Form
              
              form#part-ex-quote(action='https://tools.parkcameras.com/used-form.php', method='post')
                h3 Transaction Details
                .form-row
                  label(for='type') Enquiry Type*
                  select#type(name='type', required='')
                    option(value='Part Exchange') Part Exchange
                    option(value='Sale Only') Sale Only
                    
                h3 Item Details
                // Populated with JS
                .pc-usedFormItems
                // Adds an item with JS
                p
                  a.new-item(href='#') [ + ] Add another item
                h3 Your Details
                .form-row
                  label(for='customer-name') Name*
                  input#customer-name(type='text', name='customer-name', required='')
                .form-row
                  label(for='telephone') Telephone*
                  input#telephone(type='text', name='telephone', required='')
                .form-row
                  label(for='email') Email*
                  input#email(type='email', name='email', required='')
                .form-row
                  label(for='house') House Name / Number*
                  input#house(type='text', name='house', required='')
                .form-row
                  label(for='postcode') Postcode*
                  input#postcode(type='text', name='postcode', required='')
                .form-row
                  button(type='submit', value='Send enquiry') Submit
                p
                  small
                    em *Required
                    
            hr
            
            .pc-wrapper.pc-column.pc-col1
              h2 Frequently Asked Questions
              
              .pc-wrapper.pc-row
                .pc-column.pc-col3
                  h4 Question 1
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sapien a nisl tincidunt dictum. In volutpat sem in leo aliquet, sit amet sagittis turpis pharetra. Mauris malesuada non mauris in tincidunt. Duis eget rutrum felis. Pellentesque pulvinar ullamcorper diam, vestibulum semper mi ornare sit amet.
                .pc-column.pc-col3
                  h4 Question 2
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sapien a nisl tincidunt dictum. In volutpat sem in leo aliquet, sit amet sagittis turpis pharetra. Mauris malesuada non mauris in tincidunt. Duis eget rutrum felis. Pellentesque pulvinar ullamcorper diam, vestibulum semper mi ornare sit amet.
                .pc-column.pc-col3
                  h4 Question 3
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sapien a nisl tincidunt dictum. In volutpat sem in leo aliquet, sit amet sagittis turpis pharetra. Mauris malesuada non mauris in tincidunt. Duis eget rutrum felis. Pellentesque pulvinar ullamcorper diam, vestibulum semper mi ornare sit amet.
                .pc-column.pc-col3#condition
                  h4 Question 4
                  p 
                    b Like New
                    | 
                    |- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p 
                    b Excellent
                    | 
                    |- Morbi quis sapien a nisl tincidunt dictum.
                  p 
                    b Very Good
                    | 
                    |- In volutpat sem in leo aliquet, sit amet sagittis turpis pharetra.
                  p 
                    b Good
                    | 
                    |- Mauris malesuada non mauris in tincidunt. Duis eget rutrum felis.
                  p 
                    b Well Used
                    | 
                    |- Pellentesque pulvinar ullamcorper diam, vestibulum semper mi ornare sit amet.
                .pc-column.pc-col3
                  h4 Question 5
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sapien a nisl tincidunt dictum. In volutpat sem in leo aliquet, sit amet sagittis turpis pharetra. Mauris malesuada non mauris in tincidunt. Duis eget rutrum felis. Pellentesque pulvinar ullamcorper diam, vestibulum semper mi ornare sit amet.
                .pc-column.pc-col3
                  h4 Question 6
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sapien a nisl tincidunt dictum. In volutpat sem in leo aliquet, sit amet sagittis turpis pharetra. Mauris malesuada non mauris in tincidunt. Duis eget rutrum felis. Pellentesque pulvinar ullamcorper diam, vestibulum semper mi ornare sit amet.

            include includes/foot.pug
        
        // FINISH

        include includes/bottomScripts.pug
